{% extends "page.html" %}


{% block page_name %}Compare Data{% endblock %}
{% block page_description %}{% endblock %}

{% block main_content %}
<div class="ctdata-wrapper">
<div class="text-center">
  <!-- <a href="{{h.empty_href()}}"> Choose Dataset </a> -->

  <form class="form-horizontal span6 offset4">

    <div class="control-group">
      <label class="control-label"> Compare </label>
      <select id="dataset_name">
        <option selected="true" value="empty" class="" id="">
          <span class="">-- Select Dataset --</span>
          <span class="caretbox"><span class="caret"></span></span>
        </option>
        {% for name in dataset_names %}
          <option value="{{name}}" class="" id="{{name}}"> {{name|replace("-", " ")|title}} </option>
        {% endfor %}
      </select>
    </div>

  </form>

  <div id="datasets_to_compare_with">
  </div>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery_ui.css">

{% resource 'ctdata_theme/compare.js' %}

<script>

</script>
{% endblock %}
