{% extends "page.html" %}

{%- block underheader %}{% endblock -%}

{% block main_content %}
<div class="ctdata-wrapper">

<div class='dataset_info'>
  <h1>{{ dataset.title }}
  {% if c.help_info != '' %}
    <a href="javascript:void(0);" class="show_dataset_info" data-placement="right" data-toggle="tooltip" title="{{c.help_info}}"><i class="fa fa-info-circle text-info"></i></a>
  {% endif %}
  </h1>
  <h3><span id="profile_info"></span></h3>
</div>
<a href="/data_by_topic" class="change_dataset_link pull-left"> << change dataset </a>

<div class="headline_indicators">
  {% if headline_indicators %}
    <label> Select Headline Indicator </label>
    <select class="custom bbtn" onchange="window.location.href=this.value">
      <option selected="true" value="/visualization/{{dataset.name}}" class="head_ind_link" id="default">
        <span >-- Select Headline Indicator --</span>
        <span class="caretbox"><span class="caret"></span></span>
      </option>
      {% for indicator in headline_indicators %}
        <option value="{{ indicator.link_to_visualization() }}" class="head_ind_link" id="{{indicator.id}}"> {{indicator.name}} </option>
      {% endfor %}
    </select>

    {% if c.userobj.sysadmin %}
      <a href="javascript:void(0);" id="edit_headline_indicators" class="btn"> Edit </a>
    {% endif %}
  {% endif %}
</div>

<span id='string_span' style='font-size: 14;'></span>

<form>
    <input type="hidden" id="dataset_id" value="{{ dataset.name }}">
    <input type="hidden" id="dataset_title" value="{{ dataset.title }}">
</form>

<section class="visualisation">

<div class="refine_wrap">
<span class="clear">
  <a href="javascript:void(0);" class="clear_all"> Clear All </a>
  <hr/>
</span>
<h2>Refine This Indicator <img src="/common/images/arrowimg.png" alt="" /></h2>
<ul>

{% for dimension in dimensions %}
{% if dimension.possible_values %}
<li class="filter">
  <a href="#collapse{{dimension.name|replace(" ", "")|replace("/", "\/")|replace("'", "")}}" data-toggle="collapse" class="togglebtn dimension">{{dimension.name}}</a>
  <div id="collapse{{dimension.name|replace(" ","")|replace("'", "")}}" class="panel-collapse collapse">
    <span>
      {% if dimension.name == geography_param %}
        <a href="javascript:void(0);" class="select-all">Select All</a>
        <a href="javascript:void(0);" class="deselect-all">Deselect All</a>

        <div class="ui-widget control-group search_town">
          <div class="controls">
            <input type="text" id="tags" class="input-medium">
          </div>
        </div>
      {% endif %}
  </span>
  {% if dimension.name == geography_param %}
    <ul class="scrollable less_max_height">
  {% else %}
    <ul class="scrollable">
  {% endif %}
  {% for value in dimension.possible_values %}
    {% if value|length > 0 %}
      {% if value != 'Margins of Error' %}
        <li id = "{{value}}">
            <input type="checkbox" id="{{value}}Check" value="{{value}}" name="{{dimension.name}}" class="{{dimension.name|replace(" ","")|replace("/","/")|replace("'", "")}}">
            <label for="{{value}}Check" class="checkLabel">{{value}}</label>
        </li>
      {% else %}
        <li id = "{{value}}" class="hidden">
            <input type="checkbox" id="{{value}}Check" value="{{value}}" name="{{dimension.name}}" class="{{dimension.name|replace(" ","")|replace("/","/")|replace("'", "")}}" checked>
            <label for="{{value}}Check" class="checkLabel">{{value}}</label>
        </li>
      {% endif %}

    {% endif %}
  {% endfor %}
  </ul>

  </div>
</li>
{% if dimension.possible_values|length > 8 %}
  <span class="more_copy hidden_visibility text-center"> scroll to see more ↓  </span>
{% endif %}

{% endif %}
{% endfor %}
</ul>
{% if c.userobj.sysadmin %}
  <a href="javascript:void(0);" id="save_headline_indicator" class="btn"> Save Filters </a>
{% endif %}
{% if c.userobj %}
  <a href="javascript:void(0);" id="save_indicator_to_gallery" class="btn"> Save to Gallery </a>
{% endif %}
</div>


<div class="visual_right">
<div class="option_row">
<div class="customselectinner">
<select class="custom">
<option selected>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
</select>
</div>

<div class="display_options">
<label>Display As</label>
<ul>
<li data-placement="bottom" data-toggle="tooltip" title="Table View" class='tooltip_a'><a href="javascript:void(0)" onclick="set_display_type('table')" ><img id="table_icon" src="/common/images/displayopt1-inv.png" alt="" /></a></li>
<li data-placement="bottom" data-toggle="tooltip" title="Chart View" class='tooltip_a'><a href="javascript:void(0)" onclick="set_display_type('column')"><img id="bar_icon" src="/common/images/displayopt2.png" alt="" /></a></li>
<li data-toggle="tooltip" title="Line View" class='tooltip_a' ><a href="javascript:void(0)" onclick="set_display_type('line')"><img id="line_icon" src="/common/images/displayopt3.png" alt="" /></a></li>
<li data-toggle="tooltip" title="Map View" class='tooltip_a'><a href="javascript:void(0)" onclick="set_display_type('map')"><img id="map_icon" src="/common/images/displayopt4.png" alt="" /></a></li>
<li style="padding-top: 3px;"><a href="/dataset/{{dataset.name}}">Raw Data</a>
</ul>
</div>


<div class="operations">
<label>Operations</label>
<ul>
  <li data-toggle="tooltip" title="Print" class='tooltip_a'>
    <a href="javascript:void(0)" onclick="print_chart()" class="btn">
      <img src="/common/images/operation1.png" alt="" class="as_print" />
      <img src="/common/images/ajax-loader.gif" alt="" class="as_print_spinner hidden" />
    </a>
  </li>
  <li  data-toggle="tooltip" title="Save as PNG" class='tooltip_a'>
    <a href="javascript:void(0)" onclick="save_chart_image()" class="btn">
      <img src="/common/images/operation2.png" alt="" class="as_image" />
      <img src="/common/images/ajax-loader.gif" alt="" class="as_image_spinner hidden" />
    </a>
  </li>
  <li data-toggle="tooltip" title="Save as PDF" class='tooltip_a'>
    <a href="javascript:void(0)" onclick="save_chart_pdf()" class="btn">
      <img src="/common/images/operation3.png" alt="" class="as_pdf"/>
      <img src="/common/images/ajax-loader.gif" alt="" class="as_pdf_spinner hidden" />
    </a>
  </li>
</ul>
</div>
<input id="test_canvas" class="hidden">
</div>
<div class="spinner"> <img src="/common/images/loading.gif"/> </div>
<div class="results_table">

    <div id="only_chart">
      <div id="title_info"> </div>
      <img src="" id="only_chart_image">
    </div>
    <div id="container" style="min-width: 310px; min-height: 400px; margin: 0 auto" class="scroll"></div>

    <br>
    <br>
    <br>
    <br>
    <div id="double_export">
      <div id="title_and_subtitle"></div>
      <img src="" id="chart_image">
    <span id="link_to_second_table" class="hidden">
      <a href="#second_table" data-toggle="collapse" class="togglebtn gray_back">
        Data Table
        <i class="fa fa-plus pull-right"></i>
      </a>
    </span>
    <div id="second_table" class="collapse">
      <div id="container_2" class=""></div>
    </div>
    </div>
    <br>
    <a class="togglebtn gray_back collapsed" href="#collapseMetadata" data-toggle="collapse">
      About this dataset
      <i class="fa fa-minus pull-right"></i>
    </a>
    <div id="collapseMetadata">
      <div id="metadata" class="in collapse">
        <ul>
        {% for property in metadata %}
          <li id="{{property['key']}}">
            <a class="" >{{property['key']}}</a>
            <div class="dataValue">
                {% if property['key'] == "Suppression" %}
                  <span class="red">{{property['value']}}</span>
                {% else %}
                  {{property['value']}}
                {% endif %}
            </div>
          </li>
        {% endfor %}

        </ul>
        <div class="full_metadata_link">
        <a href="/dataset/{{dataset.name}}#additional_info" >View Full Metadata</a>
      <div>
      </div>
    </div>


</div>
<!-- <div id="map"></div> -->

</div>
</div>

<div id="images"> </div>
<!-- Create Headline Indicator Popup -->
{% snippet 'visualization/snippets/create_headline_indicator.html' %}

<!-- Edit Headline Indicator Popup -->
{% snippet 'visualization/snippets/edit_headline_indicators.html', headline_indicators = headline_indicators %}

<!-- Save Indicator to Gallery -->
{% snippet 'visualization/snippets/save_indicator_to_gallery.html', group_dropdown=c.group_dropdown %}


</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/common/css/tableTools.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery_ui.css">
<link rel="stylesheet" type="text/css" href="/common/css/leaflet.css">
<link rel="stylesheet" type="text/css" media="print" href="/common/css/print.css" />

{% resource 'ctdata_theme/highcharts_src.js' %}
{% resource 'ctdata_theme/Highmaps-1.0.4/js/modules/exporting_src.js' %}
{% resource 'ctdata_theme/Highmaps-1.0.4/js/modules/data_src.js' %}
{% resource 'ctdata_theme/fileSaver.js' %}
{% resource 'ctdata_theme/jquery.dataTables.js' %}

{% resource 'ctdata_theme/bootbox.js' %}
{% resource 'ctdata_theme/jquery_ui.js' %}

{% resource 'ctdata_theme/map_chart_new.js' %}
{% resource 'ctdata_theme/visualization.js' %}
{% resource 'ctdata_theme/exportintg_functions.js' %}

{% resource 'ctdata_theme/leaflet-src.js' %}
{% resource 'ctdata_theme/jquery.print.js' %}
{% resource 'ctdata_theme/simple_statistics.js' %}
{% resource 'ctdata_theme/leaflet-imags.js' %}

<script>
var defaults = [];
var disabled = [];
var units = {};
var geography_param    = 'Town';
var break_points_alg   = '';
var break_points_array = [];
var map_json_url       = '';

{% if break_points %}
  break_points = {{break_points | safe }}
{% endif %}
{% if geography_param %}
geography_param = '{{geography_param | safe}}'
{% endif %}

{% if units %}
units = {{units | safe}}
{% endif %}

map_json_url = '{{map_json_url}}'


{% if default_filters %}
defaults = {{default_filters | safe}}
{% endif %}


{% if disabled %}
disabled = {{disabled | safe}}
{% endif %}
</script>
{% endblock %}
