.offset{
  margin-left: 30px;
}

select{
  width: 200px;
  font-size: 14px;
}

div.small h4{
  font-size: 12px;
  color: black;
}

div.small select{
  font-size: 12px;
  width: 150px;
  height: 25px;
}
.selects{
  padding-right: 10px;
  border-right: dotted 1px #BFBDBD;
  margin: 0px 20px 20px 20px;
  min-height: 500px;
}

.marks_select{
  position: relative;
  left: -15%;
  top: 5px;
  font-size: 9px;
  width: 70px;
  height: 20px;
}
#matches ul{
  /*position: relative;
  left: -15%;*/
}

li.scale_variant, a.filter_dim{
  /*padding: 10px;*/
  border: 1px dashed #BFBDBD;
  border-radius: 3px;

  background: #F0F0F0;
  width: auto;
  margin: 5px;

  padding: 5px;
  z-index: 999;
}

a.filter_dim{
  border: 1px solid #DBDBDB;
  cursor: default;
  text-decoration: none;
  margin: 0px;
  width: 203px;
  display: block;
  margin-top: 0px;
}

div.panel-collapse.collapse.dim{
  padding-left: 10px;
  padding-top: 5px;
}

.data{
  border-right: dotted 1px #BFBDBD;
  min-height: 500px;
  padding-left: 10px;
}

#info{
  position:relative;
  left: -27px;
  border-bottom: dotted 1px #BFBDBD;
  min-height: 85px;
}
.help-text{
  font-size: 10px;
  color: gray;
}

.variable_1, .variable_2{
  font-size: 11px;
}
.graphic{
  min-height: 500px;
  padding: 0px;
}

.wizard_option_li{
  margin: 7px;
  min-height: 30px;
  border: 1px dashed #5BB65B;
  padding: 5px;
}

#y_axe, #x_axe, #color, #size, #shape{
  /*z-index: -999;*/
  /*min-width: 100px;*/
  width: auto !important;
  height: auto !important;
  padding: 0 0 0 10px ;
  border: 1px solid #BFBDBD;
  background: #F0F0F0;
  border-radius: 3px !important;;

  position: relative;
  left: -15%;
  margin-top: 10px;
}

/*#x_axe{
  position: relative;
  top: 300px;
  left: 60%;

}*/
.axe_name{
  float: left;
  /*position: relative;*/
  bottom: 100% !important;
  vertical-align: middle;
  height: inherit;
  padding-top: 5%;
}

.droppable{
  min-width: 100px !important;
  min-height: 30px !important;
  margin: 0 0 0 20px !important;
  border: 1px dotted #18A8E6 !important;
  background: #F3FBFF !important;
}

.dropped{
  background-color: #F3FBFF !important;
}

.dropped-bluegreen{
  background-color: #00A0B0 !important;
}

.dropped-red{
   background-color: #CC333F !important;
}

.dropped-orange{
   background-color: #EB6841 !important;
}
.dropped-yellow{
   background-color: #EDC951 !important;
}
.dropped-greenyellow{
   background-color: #D3CE3D !important;
}

.droppable li.scale_variant{
  border:none;
  background: rgba(153, 222, 245, 0.68);
}

.ui-state-hover{
  /*background-color: #A7E67F !important;*/
  background-color: #DCEBD2 !important;
}

.ui-draggable-dragging{
  min-width: 100px !important;
  padding: 0 0 0 10px !important;
}

a.cancel-drag{
  color: #4670A7 !important;
  text-align: left !important;
}

#main_dataset_dimensions, #compare_dataset_dimensions{
  width: 48%;
  overflow: scroll;
  margin: 10px;
}
#main_dataset_dimensions h3, #compare_dataset_dimensions h3{
  background: #F3F3F3;
}

#compare_dataset_dimensions{
  margin-top: 20px;
}

#main_dataset_dimensions{
  float: left;
  border-right: 1px dashed #EEE;
}

label:after {
  content: "";
}

label input{
  position: relative;
  top: 3px !important;
  margin-right: 10px !important;
  margin-left: 2px !important;
}

#common_dimensions{
  margin: 10px;
  width: 98%;
  border: 1px dashed #EEE;
  background: aliceblue;
  padding: 10px;
}

.span11{
  width: 960px;
}

ul#main, ul#compare{
  padding: 10px;
}

#instructions{
  position: relative;
  left: 145px;
}

#instructions ul li{
  color: gray;
}

#error{
  font-size: 21px;
  margin: 145px;
  color: #A35050;
}

.spinner.small{
  /*display: block;*/
  width: 90px;
  height: 90px;
  position: relative;
  top: 180px;
  left: 50px;
}

.spinner img{
  width: 95px;
  height: 60px;
}
/*#container{
  height: 700px;
  width: 900px;
  overflow: scroll;
}*/


.popup-blue-header{
  background-color: #4670a7;
  color: white;
}

.popup-blue-header h2{
  color: white;
}

a.call-help, a.call-help:hover{
  background-color: #4670a7;
  color: white;
  padding: 10px 15px;
  border-radius: 57px;
  font-weight: 900;
  text-decoration: none;
}

div.help{
  padding: 50px;
  height: 312px;
  font-size: 20px;
  color: white;
  background-color: #CACACA;
}

a.close_popup.i, .close_popup.i:hover{
  color: white;
  text-decoration: none;
}

.possible_value label{
  position: relative;
  left: 8px;
  top: 4px;
}

.match_dims_help .note{
  border: 2px solid #D2D2D2;
  padding: 10px;
}

.match_dims_help .instructions p{
  position: relative;
  bottom: -10px;
  height: 7px;
}

.match_dims_help h3 {
  font-weight: 900;
}

#wizard_logic select{
  width: 110px;
}

#wizard_dataset_1, #wizard_dataset_2{
  border: 1px solid #D2D2D2;
}
