#topnav {
  background: #849939;
}

#topnav li a {
  color: #e7edd3;
  text-decoration: none;
  font-size: 13px;
}

.data_stories{
  margin:0;
  padding:0;
}

.data_stories h1{
  font-size: 36px;
  padding-top: 30px;
  position: absolute;
  left: 385px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color:  black;
}

#leadmessage{
  text-align: center;
  background: #849939;
  width: 100%;
  color: #ececec;
  font-family: 'Questrial', Arial, Sans-Serif;
}

#leadmessage h1{

  color: #ececec;
}

#saved_visualizations{
  padding: 1%;
}

#saved_visualizations table{
  margin-right: 5%;
  margin-left: 6%;
}

a.dark_blue{
  color: #187794 !important;
}

.gallery_indicator{
  margin-left: 50px;
  margin-bottom: 15px;
  height: 175px;
  border: dotted 1px #ececec;
  padding: 10px;
}

.gallery_indicator div p{
  height: 100px;
  overflow: hidden;
}

.date-info{
  padding-right: 5px;
  font-size: 10px;
  color: black;
}