
  html {padding: 0px!important;}
  .leaflet-control-easyPrint-button{display: none!important;}

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
      line-height: 15px;
      color: #555;
  }
  .legend i {
      width: 15px;
      height: 15px;
      float: left;
      margin-right: 8px;
      /*opacity: 0.7;*/
      display: block;
      background-size:16px 16px;
  }

  .leaflet-control-easyPrint a {
    background:#fff url(/common/images/print.png) no-repeat 5px;
    background-size:16px 16px;
    display: block;
    }
