@charset "utf-8";
/*@import url("bootstrap.min.css");*/
@import url("font-awesome.min.css");
@import url("buttons.css");
@import url("layout.css");

* { margin:0px; box-sizing:border-box; }/* max-width:100%;  padding:0px; border:none; */
input, textarea { outline:none; border-radius: 0; resize:none;}*/
img { border:none; outline:none; max-width:100%; height:auto;}
.ctdata-wrapper a { text-decoration:none; outline:none;}
li, ul{ list-style:none; margin:0; padding:0;}
input[type="submit"], input[type="button"] { cursor:pointer;}
h1, h2, h3, h4, h5 { font-weight:normal;}
figure { max-width:100%;}
figure img { display:block;}
.clear { clear:both;}
.left { float:left;}
.right { float:right;}
/* GLOBAL CSS ENDS HERE */
/* font-family: 'Questrial', sans-serif;/ font-family: 'Roboto', sans-serif; */
/*body { font-family: 'Questrial', sans-serif; font-size:18px; color:#888888; background: white !important; line-height: normal}*/
.main_div { width:100%; float:left; }
.ctdata-wrapper { width:1170px; margin:auto;}
.main_body_content { width:100%; float:left; padding-bottom:100px; padding: 20px; box-shadow: 0px -1px 5px 0px rgba(236, 224, 224, 0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(236, 224, 224, 0.75); -webkit-box-shadow:0px -1px 5px 0px rgba(236, 224, 224, 0.75);}

header { width:100%; float:left; padding-bottom:20px; background-color: white;}
header .ctdata-wrapper { clear:both;}
.top_bar { width:100%; background:#3970ba; float:left; margin-bottom:15px; }
.top_bar ul { float:right;}
.top_bar ul li { float:left;}
.top_bar ul li a { color:#fff; margin-left:15px; font-size:14px; padding:6px 0 2px; display:inline-block;}
.top_bar ul li:first-child + li a { margin-right:5px;}
.top_bar ul li img:hover { opacity:0.5;}
.top_bar ul li a:hover { color:#aaa;}
.logo { float:left;}
header nav { float:right; margin-top:20px;	}
header nav ul li { float:left; margin-left:28px;}
header nav ul li a:hover { color:#333;}

.about { background:url(../images/about_bg.jpg) no-repeat center top #def3fd; background-size:cover; text-align:center; padding:50px 0 45px; float:left; width:100%; margin-top:-2px;}
.about h2 { font-size:36px; color:#3970ba; margin-bottom:18px;}
.about p { font-size:18px; color:#888888;}
.about a { color:#33bdf2; margin-left:10px;}
.about a:hover { text-decoration:underline;}

.ctdata-banner { width:100%; float:left; position:relative;}
.ctdata-banner .slider li { width:100%;}
.ctdata-banner .slider li img { width:100%; display:block;}
.ctdata-banner .overlay_text { position:absolute; top:130px; width:100%; left:0; color:#fff;}
.ctdata-banner .overlay_text h2 { background-color: rgba(57, 112, 186, 0.85); padding:12px 35px; display:inline-block; font-size:30px; margin-bottom:1px;
line-height: normal; margin-top: 0px}
.ctdata-banner .overlay_text p { background:url(../images/whitepng.png) repeat; display:table; font-size:22px; color:#3380bd; padding:12px 32px; margin-bottom: 0px}

.news { width:100%; float:left; background:#fff; padding:35px 0 45px;}
.news h2 { text-align:center; color:#3970ba; font-size:30px; margin-bottom:50px; text-transform:uppercase; text-decoration: underline;}
.news h2:hover { text-decoration: none;}
.news ul li { float:left; width:33.33%; padding-right:32px;}
.date { float:left; width:70px; text-align:center; font-family: 'Roboto', sans-serif;line-height:1; margin-right:12px;}
.date .day { background:#33bdf2; color:#fff; font-weight:900; font-size:30px; display:block;  padding:11px 0; margin-bottom:2px;}
.date .month { color:#fff; font-size:14px; color:#fff; background:#3970ba; display:block; padding:8px 0;}

.news_con { overflow:hidden;}
.news_con h3 { font-size:24px; color:#33bdf2; margin-bottom:6px; margin-top: 0px;}
.news_con p { color:#444444; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:300; line-height:23px;}
.news_con p a { color:#33bdf2;}
.news_con p a:hover { text-decoration:underline;}

/* custom select*/
.select-wrapper .holder{display: block;margin: 0 35px 0 5px;white-space: nowrap; overflow: hidden;cursor: pointer;position: relative;z-index:1;font-size:24px; color:#888888; font-family: 'PT Sans', sans-serif; padding:14px 20px 13px; background:none; width:450px; text-align:left;}
.select-wrapper select{margin: 0;position: absolute;z-index: 2; cursor: pointer;outline: none;opacity: 0; left:0; top:0; display:inline-block; -webkit-appearance:none;/* CSS hacks for older browsers */
_noFocusLine: expression(this.hideFocus=true); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-khtml-opacity: 0;-moz-opacity: 0;
}

.bullet { width:100%; text-align:center; position:absolute; bottom:20px; left:0;}
.bullet li{ width:auto; display:inline-block; margin:0 2px }

.bullet a{ width:10px; height:10px; display:inline-block; background:url(../images/paging_bul.png) no-repeat 0 -12px;  }
.bullet li.active a{ background:url(../images/paging_bul.png) no-repeat 0 0;  }
.bullet li a:hover{ background:url(../images/paging_bul.png) no-repeat 0 0;  }




.raw_data { float:left; width:100%; margin-top:24px;}
.raw_data .bread_crumb a { background:url(../images/crumb_arrow.png) no-repeat right center; padding-right:15px; margin-left:6px; font-size:16px; padding-top:2px;}
.raw_data .bread_crumb a:hover { color:#33bdf2;}
.raw_data .bread_crumb a img { vertical-align:top;}
.raw_data .bread_crumb span { vertical-align:middle; font-size:16px;}

.raw_content { border:3px solid #eee; margin-top:25px; width:100%; float:left; border-radius:5px;  overflow:hidden;}
.raw_content .raw_left { width:365px; float:left; border-right:3px solid #eee; padding-bottom:1000px; margin-bottom:-1000px;}
.raw_content .raw_left .readdata { text-align:center; padding:28px 0 25px; background:#f5f5f5;}
.raw_content .raw_left .readdata h2 { font-size:24px; color:#444; margin-top:20px; margin-bottom:2px;}
.raw_content .raw_left .readdata p { font-size:14px; color:#444;}
.raw_content .raw_left .readdata a { display:block; font-size:18px; color:#33bdf2; margin-top:2px;}
.raw_content .raw_left .readdata a:hover { text-decoration:underline;}

.raw_content .raw_left .raw_report { padding:26px 0; text-align:center;}
.raw_content .raw_left .raw_report h2 { display:inline-block; font-size:36px; color:#444; padding:25px 0;}
.raw_content .raw_left .raw_report h2 span { display:block; font-size:14px; margin-top:7px; text-transform:uppercase;}

.raw_content .raw_left .raw_org { padding-bottom:18px;}
.raw_content .raw_left .raw_org span { font-size:16px; color:#888; padding:16px 20px 10px; display:block;}
.raw_content .raw_left .raw_org span img { display:block; margin-top:5px;}
.raw_content .raw_left .raw_org h2 { text-align:center; font-size:18px; color:#444; text-transform:uppercase; padding:13px 0 10px; background:#f5f5f5; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.raw_content .raw_left .raw_org ul li { border-bottom:1px solid #eee; padding:13px 0 10px;}
.raw_content .raw_left .raw_org ul li a { padding:0 20px; font-size:16px;}
.raw_content .raw_left .raw_org ul li a:hover { color:#33bdf2;}
.raw_content .raw_left .raw_org ul li.last { border-bottom:none;}
.raw_content .raw_left .raw_org ul li.last a { color:#33bdf2;}
.raw_content .raw_left .raw_org ul li.last a:hover { text-decoration:underline;}

.raw_content .raw_left .raw_org.social ul li img { vertical-align:middle; margin-right:10px;}
.raw_content .raw_left .raw_org.social ul li a { padding-left:10px;}
.raw_content .raw_left .raw_org.social ul li:last-child { border-bottom:none;}
.raw_content .raw_left .raw_org.social ul li:last-child img { padding-right:9px;}

.raw_right { border-left:3px solid #eee; float:left; width:799px; /*padding-bottom:1000px; margin-bottom:-1000px;*/}
.raw_tabs { background:#f5f5f5; border-bottom:1px solid #ccc; padding:20px 25px 0; float:left; width:100%;}
.raw_tabs ul li { float:left;  color:#33bdf2; margin-right:5px; font-size:16px;}
.raw_tabs ul li a {padding:14px 20px 10px 50px; display:inline-block;}
.raw_tabs ul li.tab1 a { background:url(../images/datasettab.png) no-repeat 25px center;}
.raw_tabs ul li.tab2 a { background:url(../images/grouptab.png) no-repeat 25px center;}
.raw_tabs ul li.tab3 a { background:url(../images/activity_tab.png) no-repeat 25px center;}
.raw_tabs ul li.tab4 a { background:url(../images/relatedtab.png) no-repeat 25px center;}

.raw_tabs ul li.activated { position:relative; top:2px;}
.raw_tabs ul li.activated a { color:#444; border:1px solid #ccc; border-radius:5px 5px 0 0; border-bottom:none; background-color:#fff;}

.raw_tabs ul li.tab1.activated a{ background-image:url(../images/datasettab2.png);}
.raw_tabs ul li.tab2.activated a{ background-image:url(../images/grouptab2.png);}
.raw_tabs ul li.tab3.activated a{ background-image:url(../images/activity_tab2.png);}
.raw_tabs ul li.tab4.activated a{ background-image:url(../images/relatedtab2.png);}
.tab_content { margin-top:45px; float:left; width:100%; padding:0 30px;}

.tab_content .results_head { clear:both; width:100%;}
.tab_content .results_head h2 { font-size:30px; color:#444;}
.tab_content .results_head h2 span { font-size:18px; display:block; margin-top:15px;}

.resources { margin-top:45px;}
.tab_content .resources h2 { font-size:24px; color:#444 !important; border-bottom:5px solid #eee; padding-bottom:10px;}
.resources li { padding:15px 0; border-bottom:1px solid #eee;}
.resources li img { padding-right:15px; vertical-align:middle;}
.resources li span { display:inline-block; font-size:18px; color:#1d5cb0; max-width:70%;}
.buttons { float:right; margin-top:2px;}
.buttons a { margin-left:8px; font-size:12px; font-family:'Roboto', sans-serif; text-transform:uppercase; display:inline-block;}
.buttons a:hover { opacity:0.6;}
.buttons a.blue_btn { background:url(../images/btn_bg2.jpg) no-repeat left center #33bdf2; color:#fff; padding:6px 20px 6px 47px; }
.buttons a.grey_btn  { background:#dddddd url(../images/download_btn.jpg) left center no-repeat; color:#888;padding:6px 20px 6px 47px; }

.additional_info { margin-top:35px; float:left; width:100%; padding-bottom:50px; font-family:'Questrial';}
.tab_content .additional_info h2 { font-size:24px; color:#444 !important; border-bottom:5px solid #eee; padding-bottom:10px; margin-bottom:25px;}
.tab_content .additional_info .con_row { width:100%; float:left; margin-bottom:15px;}
.tab_content .additional_info .con_row label { width:185px; float:left; text-align:right; font-size:16px; color:#444;}
.tab_content .additional_info .con_row p { float:left; width:535px; float:left; margin-left:15px; font-size:14px; color:#444;padding: 3px 0 0}
.tab_content .additional_info .con_row p a { color:#33bdf2;}



/* visualisation  page starts here */
.visualisation { width:100%; float:left; margin-top:65px;}
.refine_wrap { width:270px; border-right:5px solid #eeeeee; padding-right:22px; position:relative; float:left;}
.refine_wrap h2 { font-size:18px; color:#888; border-bottom:1px solid #eeeeee;  padding:15px 0; text-transform:uppercase;}
.refine_wrap h2 img { position:absolute; right:-14px; top:7px;}
.refine_wrap ul li { width:100%; clear:both;}
.refine_wrap ul li a.togglebtn { font-size:16px; color:#444; padding:10px 0; border-bottom:1px solid #eee; display:inline-block; width:100%; background:url(../images/tgl_down.png) no-repeat right center;}
.refine_wrap ul li a.togglebtn.toggleup{background:url(../images/tgl_up.png) no-repeat right center;}
.refine_wrap ul li .refine_options { padding:15px 0;}
.refine_wrap ul li .refine_options  .input_row { margin-bottom:3px;}
.refine_wrap ul li .refine_options label { font-size:14px; color:#888; font-family:'roboto'; margin-left:2px; vertical-align:top;}

.visual_right { float:left; width:898px; padding-left:30px; padding-bottom:50px;}
.visual_right .option_row { width:100%; clear:both; margin-top:10px;}
.visual_right .option_row select { width:350px; border:2px solid #ccc; height:38px; font-family:'roboto'; font-size:14px; color:#444; padding:0 5px; float:left;}
.visual_right .option_row .display_options { float:left; margin-left:50px;
margin-top:10px; width:35%;}
.visual_right .option_row .display_options label { font-size:12px; color:#888; font-family:'roboto'; text-transform:uppercase; float:left; margin-right:5px;}
.visual_right .option_row .display_options ul { float:left;}
.visual_right .option_row .display_options ul li { float:left; margin-left:15px;}

.visual_right .option_row .operations { float:right; margin-top:10px; width:20%}
.visual_right .option_row .operations label { font-size:12px; color:#888; font-family:'roboto'; text-transform:uppercase; float:left; margin-right:5px;}
.visual_right .option_row .operations ul { float:left;}
.visual_right .option_row .operations ul li { float:left; margin-left:10px;}

.results_table { width:100%; float:left; margin-top:40px;}
/*
.results_table ul { clear:both;}
.results_table ul li {margin-left:1px;}
.results_table ul.table_head { display:table;}
.results_table ul.table_head li { font-size:14px; font-family:'Roboto'; font-weight:700; color:#66cef5; text-transform:uppercase; line-height:1; padding:12px 0; text-align:center;  display:table-cell; vertical-align:middle;}
.results_table ul.table_head li.col-1{ width:162px;}
.results_table ul.table_head li.col-2{ width:128px; color:#00adef;}
.results_table ul.table_head li.col-3{ width:112px;}
.results_table ul.table_head li.col-4{ width:92px; color:#00adef;}
.results_table ul.table_head li.col-5{ width:93px;}
.results_table ul.table_head li.col-6{ width:94px; color:#00adef;}
.results_table ul.table_head li.col-7{ width:93px; }
.results_table ul.table_head li.col-8{ width:93px; color:#00adef;}
.results_table ul.table_head li.col-9{ width:93px; }
.results_table ul.table_head li.col-10{ width:93px; color:#00adef;}
.results_table ul.table_head li.col-11{ width:93px; }
.results_table ul.table_head li.col-12{ width:93px; color:#00adef;}
.results_table ul.table_head li.col-13{ width:93px; }
.results_table ul.table_head li.col-14{ width:93px; color:#00adef;}
.results_table ul.table_head li.col-15{ width:93px; }
.results_table ul.table_head li.col-16{ width:93px; color:#00adef;}
.results_table ul.table_head li.col-17{ width:93px; }
.results_table ul.table_head li.col-18{ width:93px; color:#00adef;}

.results_table th.col-1, .results_table th.col-3, .results_table th.col-5, .results_table th.col-7, .results_table th.col-9, .results_table th.col-11, .results_table th.col-13, .results_table th.col-15, .results_table th.col-17{ border-bottom:5px solid #66cef5;}
.results_table th.col-2, .results_table th.col-4, .results_table th.col-6, .results_table th.col-8, .results_table th.col-10, .results_table th.col-12, .results_table th.col-14, .results_table th.col-16, .results_table th.col-18{ border-bottom:5px solid #00adef;}

.results_table ul.table_data {text-align:center; height:42px; display:table;}
.results_table td { color:#444; font-family:'roboto'; font-size:14px; display:table-cell; vertical-align:middle;}


.results_table td.col-1, .results_table td.col-3, .results_table td.col-5, .results_table td.col-7, .results_table td.col-9, .results_table td.col-11, .results_table td.col-13, .results_table td.col-15, .results_table td.col-17{background:#f9f9f9;}
.results_table td.col-2, .results_table td.col-4, .results_table td.col-6, .results_table td.col-8,  .results_table td.col-10, .results_table td.col-12, .results_table td.col-14, .results_table td.col-16, .results_table td.col-18{ background:#fff;}

.results_table td.col-1{ width:162px; text-align:left; padding:0 10px; color:#444; font-family:'roboto'; line-height:1; font-weight:600;  border-bottom:1px solid #eee;}
.results_table td.col-1 span { display:block; color:#888888; font-size:12px; margin-top:3px; font-weight:normal;}
.results_table td.col-2{ border-bottom:1px solid #eee;  width:128px;}
.results_table td.col-3{ border-bottom:1px solid #eee;  width:112px;}
.results_table td.col-4{ border-bottom:1px solid #eee;  width:92px;}
.results_table td.col-5{ border-bottom:1px solid #eee;  width:93px; }
.results_table td.col-6{ border-bottom:1px solid #eee;  width:94px;}
.results_table td.col-7{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-8{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-9{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-10{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-11{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-12{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-13{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-14{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-15{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-16{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-17{ border-bottom:1px solid #eee;  width:93px;}
.results_table td.col-18{ border-bottom:1px solid #eee;  width:93px;}*/


.customselectinner { float:left;}
.customselectinner select {   background: none; color: #888888; left: -999999px; padding: 14px 20px 13px; position: absolute;  width: 450px;}
.customselectinner .customSelect .selectedValue { width:350px; border:2px solid #ccc; height:38px; font-family:'roboto'; font-size:14px; color:#444; padding:7px 10px; float:left; border-radius:0; background:url(../images/drop2btn.jpg) no-repeat right top;}
.customselectinner .customSelect dd {font-family:'roboto'; font-size:14px; color:#444; padding:7px 5px; }
.customSelect .selected { color:#fff !important;}
.customselectinner .customSelect.select-open .selectList { top:38px !important;}


.locationdata { margin-top:65px; width:100%; float:left;}
.locationdata ul.opt_btn { float:right; padding-right:40px;}
.locationdata ul.opt_btn li { float:left; margin-left:8px; font-size:12px; font-family:'Roboto', sans-serif; text-transform:uppercase;}
.locationdata ul.opt_btn li a { display:block; width:100%;}
.locationdata ul.opt_btn li a:hover { opacity:0.6;}
.locationdata ul.opt_btn li.btn_blue { background:url(../images/btn_bg.jpg) no-repeat left center #33bdf2; color:#fff;}
.locationdata ul.opt_btn li.btn_blue a {padding:6px 15px 6px 42px; }

.locationdata ul.opt_btn li.download_btn { background:#dddddd url(../images/download_btn.jpg) left center no-repeat; font-size:12px; color:#888;}
.locationdata ul.opt_btn li.download_btn a {padding:6px 15px 6px 42px; }

.locaton_table { width:100%; float:left; padding-left:40px; margin-top:15px;}

.add_indicator_button_in_center{margin-right: 65%;}

[role=main] {
    position: static;
    background: white;
}

.wrapper {
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    border: none;
}

.container {color: #000000; font-size: 14px; width: 1180px;}
.container a { text-decoration:none; color:inherit; outline:none;}

.about-text {
    padding-right: 30px; border-right: 5px #EEEEEE solid; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:300; line-height:23px;
}

.about-news {color: #444444; }
.about-news a {color: #33bdf2;}
.about-news .news-header {border-bottom: 3px #EEEEEE solid; color: #444444;}
.about-news h3 {margin-top: 10px; margin-bottom: 0px; color: #33bdf2;}

.inline-date {vertical-align: middle; margin-top: 20px;}

.inline-date .day {
    font-weight: 900; background-color: #33bdf2; color: #ffffff; padding: 2px 5px; margin-right: 0px; font-family: 'Roboto', sans-serif;
}

.inline-date .rest {
    font-weight: 900; background-color: #3970ba; color: #ffffff; padding: 2px 5px; font-family: 'Roboto', sans-serif;
}

.news_entry {  margin-bottom: 30px;}

.sp_project_entry {border-bottom: 5px #EEEEEE solid; margin-bottom: 30px}
.sp_project_entry a {color: #4EB4E4}
.sp_project_entry h3 {color: #3970ba}


.media-grid {margin-left: 0; margin-right: 0}
.breadcrumb {background: none; margin-bottom: 0}
label {font-weight: normal; cursor: auto}
.format-label {margin-right: 15px; vertical-align: middle;}

.header_link_active {color: #3970ba !important;}

.topics_list {
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
}
.ctdata_wrapper .subtopic:nth-of-type(4n+1) {
    margin-left: 0;
    clear: left;
}
.topics_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.subtopic {
    display: inline-block;
    border-left: 4px solid #eee;
    margin: 0;
    float: left;
    width: 24.6%;
    background: #fff;

    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}
.subtopic_col {
    margin-left: 10px;
}
.subtopic_col h2 {
    margin: 0 0 10px 0;
    color: #275BA6;
    min-height: 66px;
}
.subtopic::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 5px solid #eee;
    border-bottom: 8px solid transparent;
    position: absolute;
    margin-top: 5px;
}
/* clearfix */
.subtopic::after {
    content: "";
    display: table;
    clear: both;
}
.subtopic_col a {
    font: 14px 'Open Sans', sans-serif;
    text-decoration: none;
    color: #000;
}

.subtopic_col ul{
  margin-left: 10px;
}

.subtopic_col ul li{
  padding-bottom: 0.4em;
  /*list-style-type: circle;*/
}

span.dot{
  color: #eee;
  position: relative;
  top: -5px;
  left: -21px;
  margin-right: -15px;
  /* font-size: 12px; */
  font-weight: 100;
}

@media screen and (max-width: 1070px) {
    .subtopic {
        width: 33.6%;
        margin-bottom: 10px;
    }
    .subtopic {
        clear: none;
    }
    .subtopic:nth-of-type(2n+1) {
        clear: left;
    }
}
@media screen and (max-width: 790px) {
    .subtopic {
        width: 100% !important;
        margin-left: 0 !important;
        clear: none !important;
        margin-bottom: 10px !important;
    }
}

#all_data h2.subtopic_title {
    color: #275BA6;
    line-height: normal;
}

#triangle {
    margin: 0;
    bottom: -57px;
    position: absolute;
    display: none;
}

.triangle_wrapper {
    position: relative;
}

#graphOptions li input[type=checkbox], #graphOptions li input[type=radio] {
  margin: 0 5px 10px 0;
  top: 4px;
}

.raw_tabs li.tab3, .raw_tabs li.tab4{
  visibility: hidden;
}

.hidden{
  display: none !important;
}

.blue_button{
  background-color: #66cef5;
  padding:6px 20px 6px 20px;
}

.data_by_location:hover{
  text-decoration: none;
}

.spinner.small{
  display: none;
  z-index: 999;
  /*position: absolute;*/
  margin-top: -200px;
  width: 200px;
  height: 200px;
  /*top: -100%;
  left: -40%;*/
}

.gray_button{
  background:#dddddd;
  font-size:12px;
  color:#888;
  padding:6px 20px 6px 20px;
}

.help{
  padding: 7px;
  color: #00adef;
}

.my_table{
  min-width: 700px !important;
}

.column_1{
  min-width: 100px !important;
  max-width: 250px !important;
}

td a {
color: #187794 !important;
text-decoration: none !important;
}

div.primary{
  width: 72%;
  float: right;
  margin-top: -20px;
}

.raw_left aside.secondary{
  width: 100%;
}

aside.secondary{
  width: 25%;
  padding-right: 20px;
  border-right: 1px dotted #dddddd;
}

/*.activity .item .icon{
  position: relative;
}*/

ul.activity{
  padding-top: 70px;
}

h2.module-heading{
  height: 30px;
}

input[type="radio"] {
  -webkit-appearance: radio !important;
  float: left;
}

.show_dataset_info{
  margin-left: 5px;
}

.ajax_spinner{
  position: absolute;
  top: 150px;
  left: 300px;
}

input[type=checkbox] {
position: relative;
top: 0px;
padding: 0;
margin: 0;
}


.members-table{
  width: 100%;
}

.user-name{
  padding-left: 20px;
  font-size: 18px;
}

.blue-line{
  height: 10px;
  background-color: #00adef;
}

a.underlined{
  text-decoration: underline;
}

.modal {
  width: 700px;
}

a.underlined_on_hover:hover{
  text-decoration: underline;
};

.edit_matches{
  font-size: 10px;
  color: black !important;
  padding-top: 3px;
  padding-bottom: 3px;
}
