.left-block{
  width: 25%;
  min-height: 900px;
  float: left;
  padding-right: 10px;
  border-right: 1px dotted #C4C4C4;
}

.user-image{
  width: 100%;
  /*background: rgba(155, 222, 243, 0.11);*/
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 12%;
}

.user-image img{
  border-radius: 5px;
}

.user-image p{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #C4C4C4;
}


.left-block a{
  margin-top: 5px;
}

.block{
  width: 35%;
  height: 490px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  /*border-bottom: 1px dotted #C4C4C4;*/
  /*border-right: 1px dotted #C4C4C4;*/

  /*padding-right: 10px;*/
  /*background-color: rgb(204, 238, 253);*/
  background-color: rgb(236, 236, 236);
  /*border-radius: 7px;*/
  /*border: 1px solid rgb(204, 238, 253);*/
  border: 1px solid rgb(236, 236, 236);
}

.block div.text-center{
  padding-top: 7px;
}

.block-content{
  overflow: scroll;
  height: 450px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.85);

}

.logout-block{
  margin-right: 50px;
}
.block-content ul{
}

li.item{
  border-bottom: 1px dotted #4670A7;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-bottom: 12px;
  /*background: rgba(210, 236, 244, 0.11);*/
}

li.dataset-item{
  border-bottom: 1px dotted #4670A7;
}
ul.activity li.item{
  border-bottom: none;
  margin-bottom: none;
  margin-top: none;
  padding-bottom: none;
}

ul.activity{
  padding-top: 0;
}
li.item h4{
  margin-top: 10px;
  margin-bottom: 10px;
}
li.item h4 a{
  color: black !important;;
}
li.item h4 a:hover, span.indicator a:hover{
  color: black !important;;
}

span.indicator a{
  color: gray !important;;
}

.gray_text{
  color: gray;
}

.manage_subscriptions h3{
  font-size:   21px;
  line-height: 40px;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.follow_button a{
  width: 90px !important;
  height: 22px !important;
  font-size: 11px !important;
  padding: 1px !important;
}

.subscription_name{
  font-size: 16px;
}
