div.panel-collapse.collapse.in{
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}
input[type="checkbox"],input[type="radio"]{
  -webkit-appearance: checkbox;
  float: left;
}
label.checkLabel{
  float:left;
  padding-top: 4px;
  padding-left: 5px;
}
span.checkLabel {
  padding-top: 4px;
  padding-left: 5px;
  font-weight: normal;
  font-size: 16px;
  color: black;
}
