{% extends "page.html" %}

{%- block doctype %}<!DOCTYPE html>{% endblock -%}

{% block styles %}
{{ super() }}
<link href='/common/css/visualization.css' rel='stylesheet' type='text/css'>
{% endblock %}


{% block page_name %}Data by Location
  {% if not default_profile.name == 'Location Defauilt Profile' %}
    - {{default_profile.name}}
  {% endif %}
{% endblock %}

{% block page_description %}{% endblock %}
{% block main_content %}

<span id="location" class="hidden">{{location.name}}</span>
<span id="default_profile_name" class="hidden">{{default_profile.name}}</span>
<div class="spinner small"> <img src="/common/images/loading.gif"/> </div>
<span class="hidden" id="locations_list">{{towns_names}}</span>
<div class="wrapper">
  <div class="span12 pull-right">
    <section class="locationdata">
      <ul class="opt_btn add_indicator_button_in_center hidden">
        <li class="btn_blue"><a href="javascript:void(0)" id="add_indicator">Add Indicator</a></li>
        <li class="download_btn hidden"><a href="#" onclick="$('.table').table2CSV({})"  id="download">Download Profile</a></li>
      </ul>
    </section>

  </div>
  <div class="span12">
    <span id="default_profile_id" class="hidden">{{default_profile_id}}</span>
    {% for type in geo_types_array %}
      <a href="javascript:void(0)" id="{{type}}" class="edit_locations btn btn-default hidden"> Edit {{ type}}s </a>
      <div class="table-div-{{type}}"></div>
      <br>
      <br>
    {% endfor %}
  </div>
</div>

{% if c.userobj %}
<section class="locationdata ">
  <ul class="opt_btn">
    <li><a href="javascript:void(0)" id="create_profile_button"  class='blue_button hidden'>Save to new profile</a></li>
    {% if default_profile.user_id == c.userobj.id %}
      <li><a href="javascript:void(0)" id="save_profile_as_default" class='blue_button'>Save Edits</a></li>
    {% endif %}
  </ul>
</section>
{% endif %}

<div id="loaded_topics"></div>
{% snippet 'communities/snippets/towns_popup.html', locations=locations, displayed_locations=all_current_locations %}

<div id="message_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content.text-center">
            <div class="modal-body disable-scroll" id="message">

            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button class="btn close_popup">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% snippet 'location/snippets/create_profile_popup.html' %}

{% block scripts %}
  {{ super() }}
  {% resource 'ctdata_theme/locations.js' %}
  {% resource 'ctdata_theme/html2csv.js' %}

  <script>
    var location_names = []
    var geo_types      = []

    location_names = '{{towns_names | safe}}'
    geo_types      = '{{geo_types | safe}}'
  </script>

{% endblock %}


{% endblock %}
