{% extends "page.html" %}

{% block page_name %}Data by Location{% endblock %}
{% block page_description %}<span id="location">{{location.name}}</span>{% endblock %}
{% block main_content %}

<div class="wrapper">

<div class="span12">

  <h2> {{ location.name }} </h2>

  <ul>
  {% for profile in profiles %}
    <li>
      {{ profile.id }}: {{ profile.name }}
      <br>
      {% for indicator in profile.indicators %}
        {{ indicator.dataset_name() }}: {{ indicator.variable }}
        <br>
      {% endfor %}

    </li>
  {% endfor %}
  </ul>


</div>

<div class="span3">
  <a href="/location/{{location.name}}/new_profile" class="btn"> Create Community Profile </a>
</div>

</div>




{% endblock %}