<div id="create_profile_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            Create Community Profile
        </div>
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label"> Profile Name </label>
                      <div class="controls">
                        <input type="text" name="profile_name" id="profile_name"> </input>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="create_profile" class="btn btn-info">Save</button>
                    <button class="btn close_popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>