<div id="towns_popup" class="modal fade" style="display: none">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Edit Towns
        </div>
        <div class="modal-body">
          <div id="regions">
            <select id="regions">
            {% for region in regions %}
              <option value="{{region.id}}"> {{region.name}}
            {% endfor %}
            </select>
            <input type="hidden" value="false" id="save_as_region">
          </div>
          <div id="towns">
            <ul style="">
              {% for location in locations %}
                <li class="location-checkbox {{location.geography_type}}">
                  <input type="checkbox" value="{{location.name}}" {% if location.name in displayed_locations %}checked{% endif %}>
                  <span class="checkLabel">{{location.name}}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <div style="float: right">
            <button class="save_towns btn btn-primary">Save</button>
            <button class="btn close_popup">Cancel</button>
          </div>
        </div>
    </div>
  </div>
</div>