{% extends "group/read_base.html" %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block primary_content_inner %}
  {% block groups_search_form %}
    {% set facets = {
      'fields': c.fields_grouped,
      'search': c.search_facets,
      'titles': c.facet_titles,
      'translated_fields': c.translated_fields,
      'remove_field': c.remove_field }
    %}
    {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    <br>
    <br>
    <br>
    <p>
      <i class="icon-info-sign"></i>
      To add indicators to your group select a dataset, customize your indicator and click on the "Save To Gallery" button.
    <p>
    <a href="javascript:void()" class="btn edit" id="edit_indicators"> Edit Indicators </a>

    {% snippet 'group/snippets/edit_group_indicators.html', user_indicators=user_indicators, indicators_to_edit=indicators_to_edit, group_id = c.group_dict.id  %}

    <br>
    <br>


    <div>
      <ul>
        {% for indicator in group_indicators %}
          <li class="dataset-item">
            <div class= 'dataset-content'>
              <h3 class='dataset-heading'>
                <a href="{{ indicator.link_to_visualization() }}">
                  {% if  indicator.visualization_type == 'table' %}
                    <img id="table_icon" src="/common/images/displayopt1-inv.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'chart' %}
                    <img id="bar_icon" src="/common/images/displayopt2.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'line' %}
                    <img id="line_icon" src="/common/images/displayopt3.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'map' %}
                    <img id="line_icon" src="/common/images/displayopt4.png" alt="" />
                  {% endif %}

                  {{indicator.name}}
                </a>
              </h3>
              Dataset: {{indicator.dataset_name()}}
              <br>
              Created: {{indicator.created_at.date()}}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endblock %}
  {% block packages_list %}

  {% endblock %}

  {% block scripts %}
    {{ super() }}

    {% resource 'ctdata_theme/group_indicators.js' %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  {{ super() }}
{% endblock %}
