{% extends "page.html" %}

{% block page_name %}About{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
    {% block underheader %}{{ super() }}{% endblock %}

 <div class="container">
        <div class="row">
            <div class="span12 about-text">
                <h2>About Us</h2>
                <p>The Collaborative is a public-private partnership that advocates for the public availability of open and accessible data to drive planning, policy, budgeting and decision making in Connecticut at the state, regional and local levels. We are a user-driven organization, serving nonprofits, advocates, policymakers, community groups, and funders in using data to drive policy and improve programs and services.</p>
                <h2>
                <h2>How we implement our mission</h2>
                <ul class="about-list">
                    <li>Take a lead role as a convener and facilitator in bringing key data entities together to advance a common agenda around data development, access, standards, and use</li>
                    <li>Be the source where the public can go to access data and learn about work across the state</li>
                    <li>Assist data users with obtaining data, displaying data, interpreting data, and using data</li>
                    <li>Help address policy issues the state and communities are facing by convening stakeholders, including data providers and data users, to collect/compile the data, analyze it, and publish the results</li>
                    <li>Promote and model the use of data standards for privacy, interoperability, data definitions and quality</li>
                    <li>Meet demands for public access to data through the Collaborative's data portal in collaboration with the efforts occurring concurrently by the State Data Center and State’s Open Data portal</li>
                </ul>
                <h2>Who we are</h2>
                <p>Our team includes:</p>
                <h4>Michelle Riordan-Nold, Executive Director:</h4>
                <p>Michelle is responsible for executing the vision and strategy of the Collaborative which seeks to advance open data statewide and to facilitate data-driven decision making. She seeks to increase the use of public open data and grow the community of users across the state.<p>
                <h4>Sasha Cuerda, Director of Technology:</h4>
                <p>Sasha is a web developer with experience building data visualization tools, developing database systems for managing spatial data, and developing data processing workflows. He is also a trained urban planner and geographer.</p>
                <h4>Brendan Swiniarski, Civics Applications Developer:</h4>
                <p>Brendan is a web developer with experience designing user-centered web sites. He also processes data and develops metadata for CTData.org.</p>
                <h4>Contact:</h4>
                    <p><a href="mailto:mrn@ctdata.org">Michelle Riordan-Nold</a>, Executive Director, Connecticut Data Collaborative</p>
            </div>
        </div>
    </div>

{% endblock %}
