{% extends "page.html" %}

{% block content %}

<div id="gallery">
  <div class="spacing">
    <div class="gallerytitle">
      <h2>Changing the way Connecticut uses data</h2>

      <br /><br /> <br /><br /> <br /><br /> <br /><br />
      <a href="/pages/about"><button class="button-warning pure-button">More Data Stories</button></a>
      <br /><br />
      </div>
    <img src="/common/images/g-datastories.jpg" alt="CT Data Collaborative" border="0" />
  </div>
</div>


<div id="newsmods">
<div class="spacing">

<div class="newsbox">
<img src="/common/images/news-education.jpg" alt="" border="0" />
<a href="#"><h2>Education</h2></a>
Coming Soon..
<br />
<br />
<a href="#"> <button class="button-warning pure-button">Learn More</button> </a>
</div>
<div class="newsbox">
<img src="/common/images/news-housing.jpg" alt="" border="0" />
<a href="#"><h2>Civic Vitality</h2></a>
Interactive visualization of Earned Income Tax Credit data.
<br />
<br />
<a href="" data-uv-trigger data-uv-position="top"><button class="button-warning pure-button">Learn More</button> </a>
</div>
<div class="newsbox">
<img src="/common/images/news-health.jpg" alt="" border="0" />
<a href="#"><h2>Health</h2></a>
Coming Soon..
<br />
<br />
<a href=""> <button class="button-warning pure-button">Learn More</button> </a>
</div>

</div>
</div>

<br clear="all"/>

<div id="leadmessage">
<div class="spacing">
<h1>"Growing inequality is the flipside of something else - shrinking opportunity"</h1>
- Joseph Stiglitz
</div>
</div>




{% block scripts %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="/common/css/data_gallery.css">
{% endblock %}
{% endblock %}