{% extends "page.html" %}
{% block content %}
    <div id="content">
        <div class="spacing">
            <div class= "contentbody">
                <h1>Special Projects</h1>
                <div id="grid">
                    <!-- Racial Profiling Portal -->
                    <div class="box" data-category="Community">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/ctdata-capital.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://ctrp3.ctdata.org"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            Racial Profiling Prohibition Project <span>Community</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Racial Profiling Prohibition Project</div>
                            <div class="box-text">
                                View traffic stop data for each police district in the state collected by Central CT State University Institute for Municipal and Regional Planning. New data will be posted as it is released.
                            </div>
                            <div class="box-more"> <a href="http://ctrp3.ctdata.org">Explore Data</a> </div>
                        </div>
                    </div>

                    <!-- Aging Data Story Portal -->
                    <div class="box" data-category="Community">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/airplanelady.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://aging.ctdata.org"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            Living in an Aging Connecticut<span>Community</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Living in an Aging Connecticut</div>
                            <div class="box-text">
                                We live in an aging Connecticut, and that's a dramatic change here to stay. Explore this data story, produced with Connecticut's Legislative Council on Aging, to learn more about demographic trends and projections and how they might impact our state.
                            </div>
                            <div class="box-more"> <a href="http://aging.ctdata.org">Explore Data</a> </div>
                        </div>
                    </div>

                    <!-- Early Education Data Portal -->
                    <div class="box" data-category="Community">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/ctdata-earlyeducation.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://ecp.ctdata.org/"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            Early Childhood Portal <span>Community</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Early Childhood Portal</div>
                            <div class="box-text">
                                With support from the <a href="http://wcgmf.org/">William Caspar Graustein Memorial Fund</a>(GMF), see the latest and most commonly used community-level data on the status of families and young children birth though age 8, as well as the performance of early childhood systems and programs.
                            </div>
                            <div class="box-more"> <a href="http://ecp.ctdata.org/">Explore Data</a> </div>
                        </div>
                    </div>

                    <!-- Chronic Absenteeism -->
                    <div class="box" data-category="Community">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/desk.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://chronic.ctdata.org/"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            Exploring Neighborhood-Level Chronic Absenteeism<span>Community</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Exploring Neighborhood-Level Chronic Absenteeism</div>
                            <div class="box-text">Created in partnership with the Chronic Absenteeism Strategic Action Group of the CT Kids Report Card-- a Results-Based Accountability scorecard developed and maintained by the legislature's Committee on Children in accordance with Public Act 11-10.  New Britain is the first community to participate in this pilot effort of using a mapping tool to help visualize and communicate data at the neighborhood level.
                            </div>
                            <div class="box-more"> <a href="http://chronic.ctdata.org/">Explore Data</a> </div>
                        </div>
                    </div>
                   <!--  <div class="box" data-category="Education">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/ctdata-students.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://ctdata.org/community/Connecticut?p=198"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            Kids Report Card <span>Education</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Kids Report Card</div>
                            <div class="box-text">
                                The Committee on Children of the Connecticut Legislature is building a report card on the wellbeing of all Connecticut children from birth through age 17. Find the metrics here.
                            </div>
                            <div class="box-more"> <a href="http://ctdata.org/community/Connecticut?p=198">Explore Data</a> </div>
                        </div>
                    </div> -->

                    <!-- EDI Data Portal -->
                    <div class="box" data-category="Education">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/school2.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://edi.ctdata.org"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                           Early Development Instrument  <span>Education</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">Early Development Instrument</div>
                            <div class="box-text">
                                The Hartford Foundation for Public Giving piloted in Hartford and West Hartford the use of a kindergarten assessment tool, the Early Development Instrument (EDI) and a systems improvement approach, Transforming Early Childhood Community Systems (TECCS), to provide data on children at the crucial transition to kindergarten, to improve outcomes for young children and their families, share accountability for school readiness among communities and schools and to build local solutions to local needs that can inform broader early childhood systems building and policy at the regional and state levels. See the data through a set of interactive visualizations.
                            </div>
                            <div class="box-more"> <a href="http://edi.ctdata.org">Explore Data</a> </div>
                        </div>
                    </div>

                    <!-- OFA Data Portal -->
                    <div class="box" data-category="Economy">
                        <div class="box-image">
                            <div data-thumbnail="/common/images/ctdata-lob.jpg" ></div>

                            <div class="thumbnail-caption">
                                <a href="http://ofa.ctdata.org/"><div class="hover-url"></div></a>
                            </div>

                            <div class="lightbox-text">
                            State Grants to Towns <span>Economy</span>
                            </div>
                        </div>

                        <div class="box-caption">
                            <div class="box-title">State Grants to Towns</div>
                            <div class="box-text">
                                Explore interactive visualizations of state grant data provided to municipalities and provided here in partnership with the Legislative Office of Fiscal Analysis.
                            </div>
                            <div class="box-more"> <a href="http://ofa.ctdata.org">Explore Data</a> </div>
                        </div>
                    </div>

                </div>

            </div>

           <!--  <div class="contentrightnav">
                <h3><i class="fa fa-bar-chart"></i> Kindergarten Readiness</h3>
                <a href="#">Kindergarten Inventory Skills</a>
                <br /><br />

                <h3><i class="fa fa-pie-chart"></i> Student Behavior</h3>
                <a href="#">Absenteeism</a><br />
                <a href="#">Chronic Absenteeism</a>
                <br /><br />

                <h3><i class="fa fa-line-chart"></i> Student Demographics</h3>
                <a href="#">English Language Learners</a><br />
                <a href="#">Student Enrollment</a>
                <br /><br />

                <h3><i class="fa fa-area-chart"></i> Testing & Evaluation</h3>
                <a href="#">CMT Number Tested</a><br />
                <a href="#">CMT Results</a>
                <br /><br />
            </div> -->

        </div>
    </div>

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/common/css/mediaBoxes.css">
    {% resource "ctdata_theme/mediaBoxes.js" %}
    {% resource "ctdata_theme/rotate-patch.js" %}
    {% resource "ctdata_theme/waypoints.js" %}
    {% resource "ctdata_theme/special_projects.js" %}

{% endblock %}
{% endblock %}
