{% extends "user/read_base.html" %}

{% block title %}CTData User Gallery {% endblock %}
{% block page_name %} Gallery {% endblock %}
{% block page_description %}Created by {{user_name}}{% endblock %}



{% block main_content %}


<div class="wrapper">
<!-- {% block breadcrumb_content %}
  <li><a href="{{ h.url_for(controller='user', action='index') }}">{{ _('Users') }}</a></li>
  <li><a href="{{ h.url_for(controller='user', action='read', id=c.user_dict.name) }}">{{ c.user_dict.display_name }}</a></li>
  <li class="active"><a href="#">{{ _('Manage') }}</a></li>
{% endblock %} -->

<div class="ctdata-wrapper">
</br></br></br>
<a href="javascript:void(0)" id="update_user_communities" class="btn pull-right disabled"> Save your Edits </a>
<span class="help pull-right "> * Click Indicator Name to Edit </span>

{% if gallery_indicators %}
    <table class='table my_table'>
        <thead>
            <th>Indicator</th>
            <th>Dataset</th>
            <th>Data Type</th>
            <th>Year</th>
            {% for town_name in displayed_towns %}
                <th>{{town_name}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for indicator in gallery_indicators %}
              <tr class="table_data">
                  <td class="column_1 for_csv">
                      <span class="indicator_id hidden">{{indicator.id}} </span>
                      <a href="{{ h.link_to_indicator(indicator) }}">
                        {{indicator.name}}
                      </a>
                  </td>
                  <td>{{indicator.dataset}} {{indicator.variable}} </td>
                  <td>{{indicator.data_type}}</td>
                  <td>{{indicator.year}}</td>

                  <td class="no-border">
                      <a href="javascript:void(0)" id="{{indicator.id}}" class="remove_indicator">
                          <img class="close_pic" style="opacity: 0; margin-left: 10px" src="/common/images/close_pic.png">
                      </a>
                  </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    There're no indicators for this community yet.
{% endif %}

</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/common/css/tableTools.css">

<!-- {% resource 'ctdata_theme/user_communities.js' %} -->

{% endblock %}
