{% extends "user/read.html" %}

{% block title %}CTData User Gallery {% endblock %}
{% block page_name %} Gallery {% endblock %}
{% block page_description %}Created by {{user.name}}{% endblock %}

{% block content_primary_nav %}

  {{ h.build_nav_icon('user_datasets', _('Datasets'), id=user.name) }}
  {{ h.build_nav_icon('user_activity_stream', _('Activity Stream'), id=user.name) }}
  {{ h.build_nav_icon('user_community_profiles', _('Community Profiles'), user_id=user.name) }}
  {{ h.build_nav_icon('user_gallery', _('Gallery'), user_id=user.name) }}

{% endblock %}


{% block  primary_content_inner %}
{% if gallery_indicators %}
    <table class='table my_table hidden'>
        <thead>
            <th> Indicator </th>
            <th> Groups </th>
            {% if user.name == user_name %}
              <th>Permission</th>
            {% endif %}
        </thead>
        <tbody>
            {% for indicator in gallery_indicators %}
              <tr class="table_data" id="{{indicator.id}}">
                  <td class='name'> {{indicator.name}}</td>
                  <td class='groups'>
                    {% for group in indicator.groups(c) %}
                      <a href="{{'/group/' + group['name']}}"> {{group['title']}} </a>
                      <br/>
                      <span class="group_id hidden">{{group['id']}}</span>
                      <span class="group_name hidden">{{group['title']}}</span>

                    {% endfor %}
                  </td>
                  {% if user.name == user_name %}
                    <td class="permission">
                      {{indicator.permission}}
                    </td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>


    <ul>
        {% for indicator in gallery_indicators %}
          <li class="dataset-item" id="{{indicator.id}}">
            <div class= 'dataset-content'>
              <h3 class='dataset-heading'>
                <a href="{{ indicator.link_to_visualization() }}">
                  {% if  indicator.visualization_type == 'table' %}
                    <img id="table_icon" src="/common/images/displayopt1-inv.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'chart' %}
                    <img id="bar_icon" src="/common/images/displayopt2.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'line' %}
                    <img id="line_icon" src="/common/images/displayopt3.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'map' %}
                    <img id="line_icon" src="/common/images/displayopt4.png" alt="" />
                  {% endif %}

                  {{indicator.name}}

                </a>

                {% if user_name == requested_user_name %}
                  <a href="javascript:void(0)" class="remove_indicator pull-right btn btn-default btn-mini" id="{{indicator.id}}"><i class='fa fa-times text-error'></i></a>
                  <a href="javascript:void(0)" class="edit_indicator btn btn-default btn-mini pull-right" id="{{indicator.id}}">Edit</a>
                {% endif %}
              </h3>
              Dataset: {{indicator.dataset_name()}}
              <br>
              Created: {{indicator.created_at.date()}}
              {% if indicator.groups(c) %}
              <br>
              Groups:
              {% for group in indicator.groups(c) %}
                <a href="{{'/group/' + group['name']}}"> {{group['title']}} </a>

                {% if loop.index != indicator.groups(c)|length %}
                  ,
                {% endif %}
              {% endfor %}
              {% endif %}
              <br>
              {% if user.name == user_name %}
                Permission: {{indicator.permission}}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>

    <br/>
    <br/>
{% else %}
    There're no indicators for this gallery yet.
{% endif %}


<!-- Save Indicator to Gallery -->
{% snippet 'visualization/snippets/save_indicator_to_gallery.html', group_dropdown=c.group_dropdown %}

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/common/css/tableTools.css">

{% resource 'ctdata_theme/my_gallery.js' %}

{% endblock %}
