{% extends "user/read.html" %}

{% block title %}CTData User Gallery {% endblock %}
{% block page_name %} Gallery {% endblock %}
{% block page_description %}Created by {{user_name}}{% endblock %}

{% block content_primary_nav %}

  {{ h.build_nav_icon('user_datasets', _('Datasets'), id=c.userobj.name) }}
  {{ h.build_nav_icon('user_activity_stream', _('Activity Stream'), id=c.userobj.name) }}
  {{ h.build_nav_icon('user_gallery', _('My Gallery'), user_id=c.userobj.name) }}

{% endblock %}

{% block secondary_content %}
<div class="module context-info">
  <section class="module-content">
    {% block secondary_content_inner %}
      <div class="image">{{ h.linked_gravatar(c.userobj.email_hash, 190) }}</div>
      <h1 class="heading">{{ c.userobj.display_name }}</h1>
      {% if c.about_formatted %}
        {{ c.about_formatted }}
      {% else %}
        <p class="empty">
          {% if c.is_myself %}
            {% trans %}You have not provided a biography.{% endtrans %}
          {% else %}
            {% trans %}This user has no biography.{% endtrans %}
          {% endif %}
        </p>
      {% endif %}
      {% if c.is_myself == false %}
        <div class="follow_button">
          {{ h.follow_button('user', c.userobj.id) }}</li>
        </div>
      {% endif %}
      <div class="info">
        <dl>
          {% if c.userobj.name.startswith('http://') or c.userobj.name.startswith('https://') %}
            <dt>{{ _('Open ID') }}</dt>
            <dd>{{ c.userobj.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
          {% else %}
            <dt>{{ _('Username') }}</dt>
            <dd>{{ c.userobj.name }}</dd>
          {% endif %}
        </dl>
        {% if c.is_myself %}
          <dl>
            <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd>{{ c.userobj.email }}</dd>
          </dl>
        {% endif %}
        <dl>
          <dt>{{ _('Member Since') }}</dt>
          <dd>{{ h.render_datetime(c.userobj.created) }}</dd>
        </dl>
        <dl>
          <dt>{{ _('State') }}</dt>
          <dd>{{ c.userobj.state }}</dd>
        </dl>
        {% if c.is_myself %}
          <dl>
            <dt class="key">{{ _('API Key') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd class="value"><code>{{ c.userobj.apikey }}</code></dd>
          </dl>
        {% endif %}
      </div>
    {% endblock %}
  </section>
</div>
{% endblock %}




{% block  primary_content_inner %}

{% if gallery_indicators %}
    <table class='table my_table hidden'>
        <thead>
            <th> Indicator </th>
            <th> Groups </th>
            {% if c.userobj.name == user_name %}
              <th>Permission</th>
            {% endif %}
        </thead>
        <tbody>
            {% for indicator in gallery_indicators %}
              <tr class="table_data" id="{{indicator.id}}">
                  <td class='name'> {{indicator.name}}</td>
                  <td class='groups'>
                    {% for group in indicator.groups(c) %}
                      <a href="{{'/group/' + group['name']}}"> {{group['title']}} </a>
                      <br/>
                      <span class="group_id hidden">{{group['id']}}</span>
                      <span class="group_name hidden">{{group['title']}}</span>

                    {% endfor %}
                  </td>
                  {% if c.userobj.name == user_name %}
                    <td class="permission">
                      {{indicator.permission}}
                    </td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>


    <ul>
        {% for indicator in gallery_indicators %}
          <li class="dataset-item" id="{{indicator.id}}">
            <div class= 'dataset-content'>
              <h3 class='dataset-heading'>
                <a href="{{ indicator.link_to_visualization() }}">
                  {% if  indicator.visualization_type == 'table' %}
                    <img id="table_icon" src="/common/images/displayopt1-inv.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'chart' %}
                    <img id="bar_icon" src="/common/images/displayopt2.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'line' %}
                    <img id="line_icon" src="/common/images/displayopt3.png" alt="" />
                  {% endif %}
                  {% if  indicator.visualization_type == 'map' %}
                    <img id="line_icon" src="/common/images/displayopt4.png" alt="" />
                  {% endif %}

                  {{indicator.name}}

                </a>

                {% if c.userobj.name == user_name %}
                  <a href="javascript:void(0)" class="remove_indicator pull-right btn btn-default btn-mini" id="{{indicator.id}}"><i class='fa fa-times text-error'></i></a>
                  <a href="javascript:void(0)" class="edit_indicator btn btn-default btn-mini pull-right" id="{{indicator.id}}">Edit</a>
                {% endif %}
              </h3>
              Dataset: {{indicator.dataset_name()}}
              <br>
              Created: {{indicator.created_at.date()}}
            </div>
          </li>
        {% endfor %}
      </ul>

    <br/>
    {% if c.userobj.name == user_name %}
      <a href="javascript:void(0)" id="remove_gallery_indicators" class="btn disabled"> Remove Indicators </a>
    {% endif %}
    <br/>
{% else %}
    There're no indicators for this gallery yet.
{% endif %}


<!-- Save Indicator to Gallery -->
{% snippet 'visualization/snippets/save_indicator_to_gallery.html', group_dropdown=c.group_dropdown %}

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/common/css/tableTools.css">

{% resource 'ctdata_theme/my_gallery.js' %}

{% endblock %}
