<div id="create_indicator_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            Create Headline Indicator
        </div>
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div>
                  <form class="form-horizontal">
                    <input type="hidden" name="indicator_ind_type" class="indicator_ind_type" value="headline">

                    <div class="control-group">
                      <label class="control-label"> Indicator name </label>
                      <div class="controls">
                        <input type="text" name="indicator_name" class="indicator_name">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label"> Selected Fiters </label>
                      <div class="controls"> <div class="selected_filters" ></div> </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button class="create_headline_indicator" class="btn btn-info">Save</button>
                    <button class="btn close_popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>