<div id="edit_indicators_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            Update Headline Indicators
        </div>
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div id="error" class="error" style="opacity: 0"> </div>
                <div>
                  <form class="form-horizontal">
                    {% for indicator in headline_indicators %}
                      <div class="control-group">
                        <label class="control-label"> Indicator {{indicator.id}} </label>
                        <div class="controls">
                          <input type="text" name="indicator_name" id="{{indicator.id}}" value="{{indicator.name}}" class="edit_name"></input>
                          <a href="javascript:void(0);" class="remove_indicator" id="{{indicator.id}}"> <i class='fa fa-times text-error'></i> </a>
                        </div>
                      </div>
                    {% endfor %}
                  </form>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="update_headline_indicators" class="btn btn-info">Update</button>
                    <button class="btn close_popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>