{% extends "page.html" %}

{% block styles %}
{{ super() }}
<link href='/common/css/visualization.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_name %}Data by Location - <span id="location">{{location}}</span>{% endblock %}
{% block page_description %}Create a Profile for Your Community{% endblock %}
{% block main_content %}

{% if location != community.name %}
<div class="flash-messages">

    <div class="alert fade in alert-info text-center">
      You are viewing a custom profile. We invite you to <a href="{{ default_url }}" class="underlined"> create your own custom profile </a>.
    </div>
</div>
{% endif %}
<div class="spinner small"> <img src="/common/images/loading.gif"/> </div>

<div class="wrapper">

<section class="locationdata">
<ul class="opt_btn">
<li class="btn_blue"><a href="javascript:void(0)" id="add_towns">Edit Towns</a></li>
{% if location == community.name %}
<li class="btn_blue"><a href="javascript:void(0)" id="add_indicator">Add Indicator</a></li>
{% endif %}
<li class="download_btn"><a href="#" onclick="$('.table').table2CSV({})"  id="download">Download Profile</a></li>
</ul>

<div class="locaton_table">
    <div class='table-div'>
        <div class="not_hidden_spinner"> <img src="/common/images/loading.gif"/> </div>
    </div>
    <form style="display: none">
        <input type="hidden" id="community_name" value="{{community.name}}">
        <input type="hidden" id="displayed_towns" value="{{towns_raw}}">
    </form>

    <ul class= 'opt_btn'>
    {% if location == community.name %}
    <li><a href="javascript:void(0)" id="create_profile_button"  class='blue_button'>Save to new profile</a></li>
    {% endif %}
    {% if c.userobj.sysadmin %}
        <li><a href="javascript:void(0)" id="save_profile_as_default" class='blue_button'>Save as defualt</a></li>
    {% endif %}
    </ul>
</div>


{% snippet 'communities/snippets/towns_popup.html', towns=towns, community=community, displayed_towns=displayed_towns %}

<div id="loaded_topics"></div>

{% snippet 'communities/snippets/create_profile_popup.html' %}

<div id="message_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content.text-center">
            <div class="modal-body disable-scroll" id="message">

            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button class="btn close_popup">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


</section>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'ctdata_theme/communities.js' %}
    {% resource 'ctdata_theme/html2csv.js' %}
{% endblock %}
