{% ckan_extends %}

{% block title %}Connecticut Data Collaborative{% endblock %}

{% block content %}
{% block maintag %}{{ super() }}{% endblock %}

<div id="gallery">
  <div class="spacing">
    <div class="gallerytitle">
      <h2>Changing the way Connecticut uses data</h2>
      CTDC is a public-private partnership working to increase the quality and availability of data for effective planning and policy.
      <br /><br />
      <button class="button-warning pure-button">Learn More</button>
      <br /><br />
      </div>
    <img src="common/images/ctdata-receivedmap.jpg" alt="CT Data Collaborative" border="0" />
  </div>
</div>

<div align="center">
<div id="master">

<div id="databytopic">
  <div class="spacing">
    <h2>Explore Data by Topic</h2>
    <ul>
      <li><a href="/data_by_topic#civic_vitality"><i class="fa fa-institution fa-2x"></i>     <br/>Civic Vitality</a></li>
      <li><a href="/data_by_topic#demographics">  <i class="fa fa-pie-chart fa-2x"></i>       <br/>Demographics</a></li>
      <li><a href="/data_by_topic#economy">       <i class="fa fa-line-chart fa-2x"></i>      <br/>Economy</a></li>
      <li><a href="/data_by_topic#health">        <i class="fa fa-medkit fa-2x"></i>          <br/>Health</a></li>
      <li><a href="/data_by_topic#education">     <i class="fa fa-graduation-cap fa-2x"></i>  <br/>Education</a></li>
      <li><a href="/data_by_topic#housing">       <i class="fa fa-home fa-2x"></i>            <br/>Housing</a></li>
      <li><a href="/data_by_topic#safety">        <i class="fa fa-lock fa-2x"></i>            <br/>Safety</a></li>
    </ul>
    <br clear="all" />
  </div>
</div>

  </div>
</div>

<div id="databylocation" class="location">
<div class="spacing">
  <a name="data-by-location" class="data_by_location"><h2>Explore Data by Location</h2></a>
  <div align="center" style="margin-left:auto;margin-right:auto;">
  <div class="dropdown">
      <button class="bbtn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        -- Select Location --
        <span class="caretbox"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Connecticut">Connecticut</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Andover">Andover</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Andover">Andover</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Ansonia">Ansonia</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Ashford">Ashford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Avon">Avon</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Barkhamsted">Barkhamsted</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Beacon Falls">Beacon Falls</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Berlin">Berlin</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bethany">Bethany</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bethel">Bethel</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bethlehem">Bethlehem</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bloomfield">Bloomfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bolton">Bolton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bozrah">Bozrah</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Branford">Branford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bridgeport">Bridgeport</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bridgewater">Bridgewater</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Bristol">Bristol</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Brookfield">Brookfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Brooklyn">Brooklyn</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Burlington">Burlington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Canaan">Canaan</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Canterbury">Canterbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Canton">Canton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Chaplin">Chaplin</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Cheshire">Cheshire</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Chester">Chester</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Clinton">Clinton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Colchester">Colchester</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Colebrook">Colebrook</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Columbia">Columbia</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Cornwall">Cornwall</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Coventry">Coventry</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Cromwell">Cromwell</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Danbury">Danbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Darien">Darien</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Deep River">Deep River</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Derby">Derby</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Durham">Durham</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Eastford">Eastford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Granby">East Granby</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Haddam">East Haddam</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Hampton">East Hampton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Hartford">East Hartford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Haven">East Haven</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Lyme">East Lyme</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Easton">Easton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/East Windsor">East Windsor</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Ellington">Ellington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Enfield">Enfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Essex">Essex</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Example">Example</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Example Share">Example Share</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Fairfield">Fairfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Farmington">Farmington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Franklin">Franklin</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Glastonbury">Glastonbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Goshen">Goshen</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Granby">Granby</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Greenwich">Greenwich</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Griswold">Griswold</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Groton">Groton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Guilford">Guilford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Haddam">Haddam</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Hamden">Hamden</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Hampton">Hampton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Hartford">Hartford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Hartland">Hartland</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Harwinton">Harwinton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Hebron">Hebron</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Kent">Kent</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Killingly">Killingly</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Killingworth">Killingworth</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Lebanon">Lebanon</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Ledyard">Ledyard</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Lisbon">Lisbon</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Litchfield">Litchfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Lyme">Lyme</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Madison">Madison</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Manchester">Manchester</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Mansfield">Mansfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Marlborough">Marlborough</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Meriden">Meriden</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Middlebury">Middlebury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Middlefield">Middlefield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Middletown">Middletown</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Milford">Milford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Monroe">Monroe</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Montville">Montville</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Morris">Morris</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Naugatuck">Naugatuck</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Britain">New Britain</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Canaan">New Canaan</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Fairfield">New Fairfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Hartford">New Hartford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Haven">New Haven</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Newington">Newington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New London">New London</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/New Milford">New Milford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Newtown">Newtown</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Norfolk">Norfolk</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/North Branford">North Branford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/North Canaan">North Canaan</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/North Haven">North Haven</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/North Stonington">North Stonington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Norwalk">Norwalk</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Norwich">Norwich</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Old Lyme">Old Lyme</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Old Saybrook">Old Saybrook</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Orange">Orange</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Oxford">Oxford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Plainfield">Plainfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Plainville">Plainville</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Plymouth">Plymouth</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Pomfret">Pomfret</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Portland">Portland</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Preston">Preston</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Priority School Districts">Priority School Districts</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Prospect">Prospect</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Putnam">Putnam</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Redding">Redding</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Ridgefield">Ridgefield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Rocky Hill">Rocky Hill</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Roxbury">Roxbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Salem">Salem</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Salisbury">Salisbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Scotland">Scotland</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Seymour">Seymour</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Sharon">Sharon</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Shelton">Shelton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Sherman">Sherman</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Simsbury">Simsbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Somers">Somers</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Southbury">Southbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Southington">Southington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/South Windsor">South Windsor</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Sprague">Sprague</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Stafford">Stafford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Stamford">Stamford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Sterling">Sterling</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Stonington">Stonington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Stratford">Stratford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Suffield">Suffield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Thomaston">Thomaston</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Thompson">Thompson</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Tolland">Tolland</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Torrington">Torrington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Trumbull">Trumbull</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Union">Union</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Vernon">Vernon</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Voluntown">Voluntown</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Wallingford">Wallingford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Warren">Warren</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Washington">Washington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Waterbury">Waterbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Waterford">Waterford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Watertown">Watertown</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Westbrook">Westbrook</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/West Hartford">West Hartford</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/West Haven">West Haven</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Weston">Weston</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Westport">Westport</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Wethersfield">Wethersfield</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Willington">Willington</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Wilton">Wilton</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Winchester">Winchester</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Windham">Windham</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Windsor">Windsor</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Windsor Locks">Windsor Locks</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Wolcott">Wolcott</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Woodbridge">Woodbridge</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Woodbury">Woodbury</a></li>
              
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/community/Woodstock">Woodstock</a></li>
      </ul>
  </div>
  </div>
  <br clear="all" />
</div>
</div>

<div id="newsmods">
<div class="spacing">

<div class="newsbox">
<img src="common/images/news-housing.jpg" alt="" border="0" />
<a href="https://www.surveymonkey.com/s/CTDataFall2014Conference"><h2>Register Now</h2></a>
The Ct Data Collaborative is hosting a free conference, Data Driven Connecticut 2014: Progress and Possibilities, Moving from Data to Action, on November 21st at Yale School of Management, Evans Hall.
<br />
<a href="/pages/conference-agenda-fall-2014">Learn More <i class="fa fa-arrow-circle-right"></i></a>
</div>
<div class="newsbox">
<img src="common/images/ctdata-wavechart.jpg" alt="" border="0" />
<a href="#"><h2>Check out new ctdata.org </h2></a>
Welcome to the redesigned ctdata.org. Over the next few months we will be continuously enhancing the site. We want to make this a great utility for folks in CT so please provide suggestions/feedback.
<br />
<a href="" data-uv-trigger data-uv-position="top" >Learn More <i class="fa fa-arrow-circle-right"></i></a>
</div>
<div class="newsbox">
<img src="common/images/ctdata-emotional.jpg" alt="" border="0" />
<a href="#"><h2>Upcoming Special Projects</h2></a>
Ability to visualize state grants to towns. A project in partnership with the General Assembly Office of Fiscal Analysis.
<br />
<a href="">Learn More <i class="fa fa-arrow-circle-right"></i></a>
</div>

</div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    {% resource 'ctdata_theme/scripts.js' %}
{% endblock %}
