{% ckan_extends %}

{% block title %}Connecticut Data Collaborative{% endblock %}

{% block content %}
{% block maintag %}{{ super() }}{% endblock %}
<link   rel="stylesheet" type="text/css" href="/common/css/carousel.css">
<link   rel="stylesheet" type="text/css" href="/common/css/pygments-manni.css">
<link   rel="stylesheet" type="text/css" href="/common/css/docs.css">
<link   rel="stylesheet" type="text/css" href="/common/css/bootstrap.css">
<link   rel="stylesheet" type="text/css" href="/common/css/bootstrap.css.map">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators-new">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
<li data-target="#myCarousel" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">


<div class="item active">
<img src="common/images/ctcapitol.jpg" alt="First slide">
<div class="container">
<div class="carousel-caption-new">
<h1>Changing the way <br />Connecticut uses data</h1>
<p>CTDC is a public-private partnership working to increase the quality and availability of data for effective planning and policy.</p>
<p><a class="learn-more-button" href="#" role="button">Learn More &raquo;</a></p>
</div>
</div>
</div>

<div class="item">
<img src="common/images/ct-college.jpg" alt="Second slide">
<div class="container">
<div class="carousel-caption-new">
<h1>Advocacy</h1>
<p>Advocating for the public availability of all state data to inform public debate and to drive planning, policy, budgeting and decision making in state government.</p>
<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>
</div>

<div class="item">
<img src="common/images/ct-aerial.jpg" alt="Third slide">
<div class="container">
<div class="carousel-caption-new">
<h1>Building Capacity</h1>
<p>Create a learning community of data users to engage, analyze and understand data by utilizing consumer friendly interactive visualization tools that help tell the data story.</p>
<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a></p>
</div>
</div>
</div>

<div class="item">
<img src="common/images/ctlegislative.jpg" alt="Fourth slide">
<div class="container">
<div class="carousel-caption-new">
<h1>Access</h1>
<p>Meeting demands for public access to data through the Collaborative's data portal, CTData.org, and the associated Connecticut Nonprofit Strategy Platform.</p>
<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a></p>
</div>
</div>
</div>

</div>
<a class="left carousel-control-new" href="#myCarousel" role="button" data-slide="prev"><span class="">
  <img src="common/images/aleft.png" border="0" ></span>
</a>
<a class="right carousel-control-new" href="#myCarousel" role="button" data-slide="next">
  <span class=""><img src="common/images/aright.png" border="0" ></span>
</a>
</div>

<div align="center">
<div id="master">

<div id="databytopic">
  <div class="spacing">
    <h2>Explore Data by Topic</h2>
    <ul>
      <li><a href="/data_by_topic#civic_vitality"><i class="fa fa-institution fa-2x"></i>     <br/>Civic Vitality</a></li>
      <li><a href="/data_by_topic#demographics">  <i class="fa fa-pie-chart fa-2x"></i>       <br/>Demographics</a></li>
      <li><a href="/data_by_topic#economy">       <i class="fa fa-line-chart fa-2x"></i>      <br/>Economy</a></li>
      <li><a href="/data_by_topic#health">        <i class="fa fa-medkit fa-2x"></i>          <br/>Health</a></li>
      <li><a href="/data_by_topic#education">     <i class="fa fa-graduation-cap fa-2x"></i>  <br/>Education</a></li>
      <li><a href="/data_by_topic#housing">       <i class="fa fa-home fa-2x"></i>            <br/>Housing</a></li>
      <li><a href="/data_by_topic#safety">        <i class="fa fa-lock fa-2x"></i>            <br/>Safety</a></li>
    </ul>
    <br clear="all" />
  </div>
</div>

  </div>
</div>

<div id="databylocation" class="location">
<div class="spacing">
  <a name="data-by-location" class="data_by_location"><h2>Explore Data by Location</h2></a>
  <div align="center" style="margin-left:auto;margin-right:auto;">
  <div class="dropdown">
      <button class="bbtn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        -- Select Location --
        <span class="caretbox"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for location in h.locations_helper() %}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/location/{{location.name}}">{{location.name}}</a></li>
        {% endfor %}
      </ul>
  </div>
  </div>
  <br clear="all" />
</div>
</div>

<div id="newsmods">
  <div class="spacing">

    <div class="newsbox">
      <img src="common/images/census_data_wide.png" alt="" border="0" />
      <a href="/visualization/4-year-cohort-high-school-graduation-rates">
        <h2>New Data</h2>
      </a>
      Check out recently released 2013-2014 4-year Cohort Graduation Rates.
      <br />
      <a href="/visualization/4-year-cohort-high-school-graduation-rate">
        Visualize it <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

    <div class="newsbox">
      <img src="common/images/ctdata-wavechart.jpg" alt="" border="0" />
      <a href="">
        <h2>Upcoming Webinars</h2>
      </a>
        <!-- Register to learn about how to use the site: <a href="http://bit.ly/1Ilzk1y"> http://bit.ly/1Ilzk1y </a>
        Register here to learn about how to create, save and share your work: <a href="http://bit.ly/1Bb2GL9"> http://bit.ly/1Bb2GL9 </a> -->

        Register <a href="http://bit.ly/1Ilzk1y"> here </a> to learn about how to use the site.
        <br>
        Register <a href="http://bit.ly/1Ilzk1y"> here </a> to learn about how to create, save and share your work
      <br />

    </div>

    <div class="newsbox">
      <img src="common/images/ctdata-emotional.jpg" alt="" border="0" />
      <a href="http://ctrp3.ctdata.org/">
        <h2>New Special Project</h2>
      </a>
      The Racial Profiling Prohibition Project has been updated with interactive data tables containing one year of traffic stop data.
      <br />
      <a href="http://ctrp3.ctdata.org/">
        Learn More
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/common/js/docs.min.js"></script>
  <script src="/common/js/bootstrap.js"></script>

  <script src="/common/js/ie-emulation-modes-warning.js"></script>
  <script src="/common/js/ie8-responsive-file-warning.js"></script>
  <script src="/common/js/ie10-viewport-bug-workaround.js"></script>
  <script src="/common/js/ZeroClipboard.js"></script>
  <script src="/common/js/index_page.js"></script>
{% endblock %}
<!-- -->
