{% ckan_extends %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width" />
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/common/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'> <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,900,700' rel='stylesheet' type='text/css'><!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'> <!-- google font -->
    <link rel="shortcut icon" href="/common/images/logo_small.png" type="image/png" />
{% endblock %}
