{% extends "page.html" %}

{% block styles %}
{{ super() }}
<link href='/common/css/visualization.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_name %}Data by Location - {{community.name}}{% endblock %}
{% block page_description %}Create a Profile for Your Community{% endblock %}

{% block main_content %}
<div class="wrapper">

<section class="locationdata">
<ul class="opt_btn">
<li class="btn_blue"><a href="javascript:void(0)" id="add_towns">Add Towns</a></li>
<li class="btn_blue"><a href="javascript:void(0)" id="add_indicator">Add Indicator</a></li>
<li class="download_btn"><a href="#">Download Profile</a></li>
</ul>

<div class="locaton_table">
{% if indicators %}
        <ul class="table_head">
            <li class="col-1">Dataset</li>
            <li class="col-2">Data Type</li>
            <li class="col-3">Year</li>
            {% for town_name in displayed_towns %}
                <li class="col-4">{{town_name}}</li>
            {% endfor %}
        </ul>
    {% for indicator in indicators %}
        <ul class="table_data">
            <li class="col-1">
                {{indicator['dataset']}}, {{indicator['indicator'].variable}}
                <span>
                    {% for filter in indicator['filters'] %}
                        {{ filter['field'] }}: {{filter['value']}}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="col-2">{{indicator['indicator'].data_type}}</li>
            <li class="col-3">{{indicator['indicator'].year}}</li>
        {% for value in indicator['values'] %}
            <li class="col-4">{{value}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </table>
{% else %}
    There're no indicators for this community yet.
{% endif %}
    <form style="display: none">
        <input type="hidden" id="community_name" value="{{community.name}}">
    </form>
</div>

<div id="towns_popup" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Add towns
            </div>
            <div class="modal-body">
                <div id="towns">
                    <ul style="">
                        {% for town in towns %}
                            <li>
                                <input type="checkbox" value="{{town.name}}" {% if town.name in displayed_towns %}checked{% endif %}>
                                <span class="checkLabel">{{town.name}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="save_towns" class="btn btn-primary">Add</button>
                    <button id="close_towns_popup" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="indicator_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="indicators" style="width: 230px; border-right: 1px solid; float: left; margin-right: 10px">
                    <ul>
                    {% for topic in topics %}
                        <li>
                        <h3>{{ topic['title'] }}</h3>
                        <ul>
                            {% for subtopic in topic['subdomains'] %}
                            <li>
                                <div>
                                <h3 style="color: #000000">{{ subtopic['title'] }}</h3>
                                    <ul>
                                        {% for dataset in subtopic['datasets'] %}
                                        <li>
                                            <a href="javascript:void(0)" id="{{dataset['id']}}" class="dataset_chooser">
                                                {{ dataset['title'] }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="filters">
                    filters
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="save_indicator" class="btn btn-primary">Add measure to profile</button>
                    <button id="close_indicator_popup" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


</section>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'ctdata_theme/communities.js' %}
{% endblock %}