{% extends "page.html" %}

{% block styles %}
{{ super() }}
<link href='/common/css/visualization.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_name %}Data by Location - <span id="location">{{location}}</span>{% endblock %}
{% block page_description %}Create a Profile for Your Community{% endblock %}

{% block main_content %}
<div class="wrapper">

<section class="locationdata">
<ul class="opt_btn">
<li class="btn_blue"><a href="javascript:void(0)" id="add_towns">Edit Towns</a></li>
{% if c.userobj %}
<li class="btn_blue"><a href="javascript:void(0)" id="add_indicator">Add Indicator</a></li>
{% endif %}
<li class="download_btn"><a href="#">Download Profile</a></li>
</ul>

<div class="locaton_table">
{% if indicators %}
        <ul class="table_head">
            <li class="col-1">Dataset</li>
            <li class="col-2">Data Type</li>
            <li class="col-3">Year</li>
            {% for town_name in displayed_towns %}
                <li class="col-4">{{town_name}}</li>
            {% endfor %}
        </ul>
    {% for indicator in indicators %}
        <ul class="table_data">
            <li class="col-1">
                <span class="indicator_id hidden">{{indicator['indicator'].id}} </span>
                <a href="/visualization/{{ indicator['dataset'].replace(' ', '-').lower()}}?ind={{indicator['indicator'].id}}">
                    {{indicator['dataset']}}, {{indicator['indicator'].variable}}
                </a>
                <span>
                    {% for filter in indicator['filters'] %}
                        {{ filter['field'] }}: {{filter['value']}}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="col-2">{{indicator['indicator'].data_type}}</li>
            <li class="col-3">{{indicator['indicator'].year}}</li>
        {% for value in indicator['values'] %}
            <li class="col-4">{{value}}</li>
        {% endfor %}
            {% if c.userobj %}
            <li>
                <a href="/community/remove_indicator/{{indicator['indicator'].id}}?anti_csrf={{anti_csrf_token}}&came_from={{request.url}}">
                <img class="close_pic" style="opacity: 0; margin-left: 10px" src="/common/images/close_pic.png">
                </a>
            </li>
            {% endif %}
        </ul>
    {% endfor %}
    </table>
{% else %}
    There're no indicators for this community yet.
{% endif %}
    <form style="display: none">
        <input type="hidden" id="community_name" value="{{community.name}}">
    </form>

    {% if user %}
    <ul class= 'opt_btn'>
    <li><a href="javascript:void(0)" id="create_profile_button" class='blue_button'>Save to new profile</a></li>
    {% if user.is_admin and community.name != location %}
        <li><a href="javascript:void(0)" id="save_profile_as_default" class='blue_button'>Save as defualt</a></li>
    {% endif %}
    </ul>
    {% endif %}
</div>

<div id="towns_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Edit Towns
            </div>
            <div class="modal-body">
                <div id="towns">
                    <ul style="">
                        {% for town in towns %}
                            <li>
                                <input type="checkbox" value="{{town.name}}" {% if town.name in displayed_towns %}checked{% endif %} {% if town.name == community.name %}disabled{% endif %}>
                                <span class="checkLabel">{{town.name}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="save_towns" class="btn btn-primary">Save</button>
                    <button id="close_towns_popup" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="indicator_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div id="indicators" class="indicator-topics">
                    <ul class="indicator-main-topics">
                    {% for topic in topics %}
                        <li>
                        <h3>{{ topic['title'] }}</h3>
                        <ul>
                            {% for subtopic in topic['subdomains'] %}
                            <li>
                                <div>
                                <h3 style="color: #000000">{{ subtopic['title'] }}</h3>
                                    <ul class="indicator-sub-topics">
                                        {% for dataset in subtopic['datasets'] %}
                                        <li>
                                            <a href="javascript:void(0)" id="{{dataset['id']}}" class="dataset_chooser">
                                                {{ dataset['title'] }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="filters" class="indicator-filters">
                    <div id="indicator_adding_error" class="error" style="opacity: 0">
                    </div>
                    <div id="filters_content">
                        Choose a dataset from the leftside menu.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="save_indicator" class="btn btn-primary">Add measure to profile</button>
                    <button id="close_indicator_popup" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create_profile_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            Create Community Profile
        </div>
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label"> Profile Name </label>
                      <div class="controls">
                        <input type="text" name="profile_name" id="profile_name"> </input>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="create_profile" class="btn btn-info">Save</button>
                    <button class="btn close_popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'ctdata_theme/communities.js' %}
{% endblock %}