{% extends "page.html" %}

{% block page_name %}Data by Topic{% endblock %}
{% block page_description %}Explore Data by Individual Topic{% endblock %}

{% block content %}
{% block underheader %}{{ super() }}{% endblock %}

<div align="center">
<div id="master">

<div id="databytopic">
  <div class="spacing">
    <h2>Explore Data by Topic</h2>
    <ul>
      <li><a href="#civic_vitality"><i class="fa fa-institution fa-2x"></i>     <br/>Civic Vitality</a></li>
      <li><a href="#demographics">  <i class="fa fa-pie-chart fa-2x"></i>       <br/>Demographics</a></li>
      <li><a href="#economy">       <i class="fa fa-line-chart fa-2x"></i>      <br/>Economy</a></li>
      <li><a href="#health">        <i class="fa fa-medkit fa-2x"></i>          <br/>Health</a></li>
      <li><a href="#education">     <i class="fa fa-graduation-cap fa-2x"></i>  <br/>Education</a></li>
      <li><a href="#housing">       <i class="fa fa-home fa-2x"></i>            <br/>Housing</a></li>
      <li><a href="#safety">        <i class="fa fa-lock fa-2x"></i>            <br/>Safety</a></li>
    </ul>
    <br clear="all" />
  </div>
</div>

  </div>
</div>

<section id="all_data" >
    <div class="ctdata-wrapper">
      <ul>
        <br>
        <div class="text-center">
          <form id="live-search" action="" class="styled" method="post">
            <fieldset>
                <input type="text" class="text-input" id="filter" value="" placeholder="Search.." />
            </fieldset>
          </form>
        </div>

        {% for domain in domains %}
            {% if domain['subdomains']|length > 0 %}
                <li style="clear: both; margin-bottom: 10px" id="{{ domain['id'] }}" class="topics_list">
                <h2>{{ domain['title'] }}</h2>
                <ul>
                    {% for subdomain in domain['subdomains'] %}
                    <li class="subtopic">
                        <div class="subtopic_col">
                        <h4>{{ subdomain['title'] }}</h4>
                            <ul id="subtopic_list">
                                {% for dataset in subdomain['datasets'] %}
                                <li>
                                <a href="/visualization/{{ dataset['name'] }}" class="underlined_on_hover">{{ dataset['title'] }} </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
</section>

{% endblock %}

{% block scripts %}
    {{ super() }}

    {% resource 'ctdata_theme/data_by_topic.js' %}
{% endblock %}