{% extends "page.html" %}

{% block page_name %}Data by Topic{% endblock %}
{% block page_description %}Explore Data by Individual Topic{% endblock %}

{% block content %}
{% block underheader %}{{ super() }}{% endblock %}
<section class="topics" id="topics">
<div class="triangle_wrapper">
<div class="ctdata-wrapper">
<h2>Explore Data by Topic or See <a id="all_data_link" href="#topics" style="text-decoration: underline;">All Data</a></h2>
<ul>
<li><a href="#topics" id="topic_civic_vitality_link"><img src="/common/images/topic1.png" alt=""/>Civic Vitality</a></li>
<li><a href="#topics" id="topic_demographics_link"><img src="/common/images/topic2.png" alt=""/>Demographics</a></li>
<li><a href="#topics" id="topic_economy_link"><img src="/common/images/topic3.png" alt=""/>Economy</a></li>
<li><a href="#topics" id="topic_health_link"><img src="/common/images/topic4.png" alt=""/>Health</a></li>
<li><a href="#topics" id="topic_education_link" ><img src="/common/images/topic5.png" alt=""/>Education</a></li>
<li><a href="#topics" id="topic_housing_link"><img src="/common/images/topic6.png" alt=""/>Housing</a></li>
<li><a href="#topics" id="topic_safety_link"><img src="/common/images/topic7.png" alt=""/>Safety</a></li>
</ul>
</div>
<img id="triangle" src="/common/images/selection_triangle.png">
</div>
</section>

<style>

</style>

{% for domain in domains %}
<section id="topic_{{ domain['id'] }}" class="topics_list">
    <div class="ctdata-wrapper">
        <ul>
        {% for subdomain in domain['subdomains'] %}
        <li class="subtopic">
            <div class="subtopic_col">
            <h2>{{ subdomain['title'] }}</h2>
                <ul>
                    {% for dataset in subdomain['datasets'] %}
                    <li><a href="/visualization/{{ dataset['name'] }}">{{ dataset['title'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% else %}
            There's no data for this topic yet.
        {% endfor %}
        </ul>
    </div>
</section>
{% endfor %}

<section id="all_data" class="topics_list">
    <div class="ctdata-wrapper">
        {% for domain in domains %}
            {% if domain['subdomains']|length > 0 %}
                <div style="clear: both; margin-bottom: 10px">
                <h2>{{ domain['title'] }}</h2>
                <ul>
                    {% for subdomain in domain['subdomains'] %}
                    <li class="subtopic">
                        <div class="subtopic_col">
                        <h2>{{ subdomain['title'] }}</h2>
                            <ul>
                                {% for dataset in subdomain['datasets'] %}
                                <li><a href="/visualization/{{ dataset['name'] }}">{{ dataset['title'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block scripts %}
    {{ super() }}

    {% resource 'ctdata_theme/data_by_topic.js' %}
{% endblock %}