<div id="footer">
<div class="spacing">

<div class="footerbox">
<h2>About</h2>
<ul>
<li><a href="/pages/about">About</a></li>
<!-- <li><a href="/pages/news">News</a></li> -->
<li><a href="http://jobs.ctdata.org/">Jobs</a></li>
<li><a href="mailto:info@ctdata.org">Contact</a></li>
</ul>
</div>

<div class="footerbox">
<h2>Explore</h2>
<ul>
<li><a href="/pages/special-projects">Special Projects</a></li>
<li><a href="http://nccsweb.urban.org/communityplatform/ct" target="_blank">CT Nonprofit Strategy Platform</a></li>
</ul>
</div>

<div class="footerbox">
<h2>Get In Touch</h2>
<ul>
<li><a href="#" data-uv-trigger data-uv-position="top">Support &amp; Feedback</a></li>
<br/>
<li><a href="https://www.facebook.com/pages/CT-Data-Collaborative/150954425018093"><i class="fa fa-facebook-square fa-lg"></i> &nbsp;Find us on Facebook</a></li>
<li><a href="https://twitter.com/CTOpenData"><i class="fa fa-twitter-square fa-lg"></i> &nbsp;Find us on Twitter</a></li>

</ul>
</div>

<br clear="all" />

<div class="footercopy">
CTdata.org is a Project of the Connecticut Data Collaborative<br />
Copyright &copy; 2014 CT Data Collaborative
</div>

</div>
</div>

<!--
{% block footer_debug %}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock %}
-->
<script type="text/javascript">
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/3GDzCSh5hfxU6basPTS7PQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  UserVoice.push(['set', {
    accent_color: '#448dd6',
    trigger_color: 'white',
    trigger_background_color: 'rgba(46, 49, 51, 0.6)'
  }]);

  UserVoice.push(['identify', { }]);
  UserVoice.push(['autoprompt', {}]);
</script>

