<footer>
<div class="wrapper">

<div class="col_1">
<a href="index.html" class="ftr_logo"><img src="common/images/ftr_logo.jpg" alt="" /></a>
<span><a href="#">CTdata.org</a> is a Project of the Connecticut Data Collaborative</span>
<span>Copyright &copy; 2014 CT Data Collaborative</span>
</div>

<div class="col_2">
<h3>About</h3>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">News</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Terms of Service</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>
</div>

<div class="col_2">
<h3>Explore</h3>
<ul>
<li><a href="#">Data Gallery</a></li>
<li><a href="#">Special Projects</a></li>
<li><a href="#">CT Nonprofit Strategy Platform</a></li>
<li><a href="#">Knowledge Center</a></li>
<li><a href="#">Guides and Tutorials</a></li>
</ul>
</div>

<div class="last_col">
<h3>Get In Touch</h3>
<a class="feedback" href="#"><img src="common/images/feed_icon.jpg" alt="" />Support &amp; Feedback</a>
<a href="#"><img src="common/images/ftr_twitter.png" alt="" /></a>
<a href="#"><img src="common/images/ftr_fb.png" alt="" /></a>
</div>


</div>
</footer>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".custom-select").each(function(){
            $(this).wrap("<span class='select-wrapper'></span>");
            $(this).after("<span class='holder'></span>");
        });
        $(".custom-select").change(function(){
            var selectedOption = $(this).find(":selected").text();
            $(this).next(".holder").text(selectedOption);
        }).trigger('change');
    })
</script>