
<header>
<div class="top_bar">
<div class="ctdata-wrapper">
<ul>
<li><a href="#"><img src="/common/images/twitter.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/fb_icon.png" alt="" /></a></li>
<li><a href="/pages/about">About </a></li>
<li><a href="/pages/news">News</a></li>
<li><a href="http://know.ctdata.org/index.php/CTData">Knowledge Center</a></li>
<li><a href="http://know.ctdata.org/index.php/CTData">Guides and Tutorials</a></li>
<li><a href="mailto:info@ctdata.org">Contact</a></li>
{% if c.userobj %}
    <li>
        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
          {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
        </a>
    </li>
    {% set new_activities = h.new_activities() %}
    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
        <i class="icon-dashboard"></i>
        <span>{{ new_activities }}</span>
    </a>
    </li>
    <li>
        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="icon-cog"></i>
        </a>
    </li>
    <li>
        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="icon-signout"></i>
        </a>
    </li>
{% else %}
<li>{% link_for _('Login'), controller='user', action='login' %}</li>
<li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
{% endif %}
</ul>
</div>
</div>

<div class="ctdata-wrapper">
<figure class="logo"><a href="/"><img src="/common/images/logo.png" alt="" /></a></figure>
<nav>
<ul>
<li><a href="/data_by_topic" id="data_by_topic_link">Data by Topic</a></li>
<li><a href="#data-by-location">Data by Location</a></li>
<li><a href="#">Data Gallery</a></li>
<li><a href="/pages/special-projects">Special Projects</a></li>
<li><a href="http://nccsweb.urban.org/communityplatform/ct">CT Nonprofit Strategy Platform</a></li>
</ul>
</nav>
</div>

</header> <!-- header section ends here -->
