<div class="navbar">
    <!-- /.overlay -->
    <div class="navbar-brand">
        <div class="logo">
            <img src="/common/images/logo.svg">
        </div>
        <!-- /.logo -->
    </div>
    <div class="ctdata-nav">
        <ul class="ctdata-nav-list">
            <li class="ctdata-nav-list-item"><a href="http://ctdata.org">Home</a></li>
            <!-- /.nav-item -->
            <li class="ctdata-nav-list-item active"><a href="/">Data</a></li>
            <!-- /.nav-item -->
            <li class="ctdata-nav-list-item"><a href="http://ctdata.org#projects">Projects</a></li>
            <!-- /.nav-item -->
            <li class="ctdata-nav-list-item"><a href="http://ctdata.org/services">Services</a></li>
            <!-- /.nav-item -->
            <li class="ctdata-nav-list-item"><a href="http://ctdata.org/about">About</a></li>
            <!-- /.nav-item -->
            <li class="ctdata-nav-list-item"><a href="http://ctdata.org/news">News</a></li>
            <!-- /.nav-item -->
            {% if c.userobj %}
                <li class="ctdata-nav-list-item">
                    <a href="/dashboard" class="image" title="{{ _('View profile') }}">
                        <i class="icon-dashboard"></i>
                    </a>
                </li>
                {% set new_activities = h.new_activities() %}
                <!-- <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                    <i class="icon-dashboard"></i>
                    <span>{{ new_activities }}</span>
                </a>
                </li> -->
                            <!-- <li>
                    <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <i class="icon-cog"></i>
                    </a>
                </li> -->
                        {% else %}
                <li class="ctdata-nav-list-item">
                    <a href="{{ h.url_for(controller='user', action='login') }}" title="{{ _('Edit settings') }}">
                        <i class="icon-dashboard"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div><!--
    <button class="navbar-toggler hidden-md-up top-right" type="button" data-toggle="collapse" data-target="#collapseableNavbar">
    menu
    </button>-->
</div>
<!-- /.navbar -->

