<div id="topnav" class="row">
<div class="spacing col-xs-12">
<ul>
<li class=""><a href="https://twitter.com/CTOpenData"><i class="fa fa-twitter fa-md"></i></a></li>
<li class=""><a href="https://www.facebook.com/pages/CT-Data-Collaborative/150954425018093"><i class="fa fa-facebook fa-md"></i></a></li>
<li class=""><a href="/pages/about">About </a></li>
<li class=""><a href="/pages/news">News</a></li>
<li class=""><a href="mailto:info@ctdata.org">Contact</a></li>
{% if c.userobj %}
    <li>
        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
          {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
        </a>
    </li>
    {% set new_activities = h.new_activities() %}
    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
        <i class="icon-dashboard"></i>
        <span>{{ new_activities }}</span>
    </a>
    </li>
    <li>
        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="icon-cog"></i>
        </a>
    </li>
    <li>
        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="icon-signout"></i>
        </a>
    </li>
{% else %}
<li class="">{% link_for _('Login'), controller='user', action='login' %}</li>
<li class="">{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
{% endif %}
</ul>
</div>
</div>

<div id="hdr" class="row">
  <div class="spacing">
    <div class="logo">
      {% if c.action != 'data_gallery' %}
      <a href="/"><img src="/common/images/logo-main.jpg" alt="Connecticut Data Collaborative - Changing the way Connecticut uses data" border="0"/></a>
      {% else %}
      <a href="/"><img src="/common/images/logo-ds.jpg" alt="Connecticut Data Collaborative - Changing the way Connecticut uses data" border="0"/></a>
      {% endif %}
    </div>

    <div id="" class="">
    <ul>
      <li class=""><a href="/data_by_topic"><i class="fa fa-play-circle"></i>Data by Topic</a></li>
      <li class=""><a href="/location"><i class="fa fa-play-circle"></i>Data by Location</a></li>
      <li class=""><a href="/organization"><i class="fa fa-play-circle"></i>Datasets by Organization</a></li>
      <li class=""><a href="/pages/data-gallery"><i class="fa fa-play-circle"></i>Data Gallery</a></li>
      <li class=""><a href="/pages/special-projects"><i class="fa fa-play-circle"></i>Special Projects</a></li>
      <li class=""><a href="http://nccsweb.urban.org/communityplatform/ct" target="_blank"><i class="fa fa-play-circle"></i>CT Non-profit Strategy Platform</a></li>
    </ul>
    </div>

  </div>
</div>

