{% extends "page.html" %}

{% block page_name %}News{% endblock %}
{% block page_description %}Lorem ipsum dolor sit amet{% endblock %}

{% block content %}
    {% block underheader %}{{ super() }}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="span5">
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">NEW DATA available</a></h3>
                        <p>NEW DATA available on reading levels and summer learning loss (DRA2) and on Child Abuse and Neglect rates by TOWN. While we process it, you can access the files at Data For Download.</p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>31</span>
                        <span class='month'>03.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">Open Data Portal Launch</a></h3>
                        <p>Connecticut Launches it's Open Data Portal with March 31, 2014. See <a href="https://data.ct.gov">https://data.ct.gov</a></p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">March 2014 Forum</a></h3>
                        <p>View the Proceedings of CT Data Collaborative March 3 Forum on Open Data <a href="#">here</a></p>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">NEW DATA available</a></h3>
                        <p>NEW DATA available on reading levels and summer learning loss (DRA2) and on Child Abuse and Neglect rates by TOWN. While we process it, you can access the files at Data For Download.</p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>31</span>
                        <span class='month'>03.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">Open Data Portal Launch</a></h3>
                        <p>Connecticut Launches it's Open Data Portal with March 31, 2014. See <a href="https://data.ct.gov">https://data.ct.gov</a></p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">March 2014 Forum</a></h3>
                        <p>View the Proceedings of CT Data Collaborative March 3 Forum on Open Data <a href="#">here</a></p>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">NEW DATA available</a></h3>
                        <p>NEW DATA available on reading levels and summer learning loss (DRA2) and on Child Abuse and Neglect rates by TOWN. While we process it, you can access the files at Data For Download.</p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>31</span>
                        <span class='month'>03.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">Open Data Portal Launch</a></h3>
                        <p>Connecticut Launches it's Open Data Portal with March 31, 2014. See <a href="https://data.ct.gov">https://data.ct.gov</a></p>
                    </div>
                </div>
                <div class="news_entry">
                    <div class='date'>
                        <span class='day'>03</span>
                        <span class='month'>08.2014</span>
                    </div>
                    <div class="news_con">
                        <h3><a href="#">March 2014 Forum</a></h3>
                        <p>View the Proceedings of CT Data Collaborative March 3 Forum on Open Data <a href="#">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}