{% ckan_extends %}

{% block content %}

    {%- block underheader %}
    <section class="about" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="ctdata-wrapper">
            <h2>{% block page_name %}Page name{% endblock %}</h2>
            <p>{% block page_description %}Page description{% endblock %}</p>
        </div>
    </section>
    {% endblock -%}
    <section class="main_body_content">
    {% block main_content %}{{ super() }}{% endblock %}
    </section>
{% endblock %}