{% ckan_extends %}

{% block content %}

    {%- block underheader %}
    <section>
        <div id="about_block">
            <div class="spacing text-center">
                <h2 class="main_title">{% block page_name %}Page name{% endblock %}</h2>
                <p id="pageDescription">{% block page_description %}Page description{% endblock %}</p>
            </div>
        </div>
    </section>

    {% endblock -%}
    <section class="main_body_content">
    {% block flash %}
        {% set flash_messages = h.flash.pop_messages() | list %}
        <div class="flash-messages">
          {% for message in flash_messages %}
            <div class="alert fade in {{ message.category }} text-center">
              {{ h.literal(message) }}
            </div>
          {% endfor %}
        </div>
    {% endblock %}
    {% block main_content %}{{ super() }}{% endblock %}
    </section>

{% endblock %}
