{% if 'dashboard' in request.referrer %}
  {% extends "user/dashboard.html" %}
{% else %}
  {% extends "user/read.html" %}
{% endif %}

{% block title %}CTData User Community Profiles {% endblock %}
{% block page_name %} Community Profiles {% endblock %}
{% block page_description %}Created by {{c.userobj.name}}{% endblock %}

{% if 'dashboard' not in request.referrer %}
  {% block content_primary_nav %}

    {{ h.build_nav_icon('user_datasets', _('Datasets'), id=c.userobj.name) }}
    {{ h.build_nav_icon('user_activity_stream', _('Activity Stream'), id=c.userobj.name) }}
    {{ h.build_nav_icon('user_community_profiles', _('Community Profiles'), user_id=c.userobj.name) }}
    {{ h.build_nav_icon('user_gallery', _('Gallery'), user_id=c.userobj.name) }}

  {% endblock %}
  {% block secondary_content %}
  <div class="module context-info">
    <section class="module-content">
      {% block secondary_content_inner %}
        <div class="image">{{ h.linked_gravatar(c.userobj.email_hash, 190) }}</div>
        <h1 class="heading">{{ c.userobj.display_name }}</h1>
        {% if c.about_formatted %}
          {{ c.about_formatted }}
        {% else %}
          <p class="empty">
            {% if c.is_myself %}
              {% trans %}You have not provided a biography.{% endtrans %}
            {% else %}
              {% trans %}This user has no biography.{% endtrans %}
            {% endif %}
          </p>
        {% endif %}
        {% if c.is_myself == false %}
          <div class="follow_button">
            {{ h.follow_button('user', c.userobj.id) }}</li>
          </div>
        {% endif %}
        <div class="info">
          <dl>
            {% if c.userobj.name.startswith('http://') or c.userobj.name.startswith('https://') %}
              <dt>{{ _('Open ID') }}</dt>
              <dd>{{ c.userobj.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
            {% else %}
              <dt>{{ _('Username') }}</dt>
              <dd>{{ c.userobj.name }}</dd>
            {% endif %}
          </dl>
          {% if c.is_myself %}
            <dl>
              <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd>{{ c.userobj.email }}</dd>
            </dl>
          {% endif %}
          <dl>
            <dt>{{ _('Member Since') }}</dt>
            <dd>{{ h.render_datetime(c.userobj.created) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('State') }}</dt>
            <dd>{{ c.userobj.state }}</dd>
          </dl>
          {% if c.is_myself %}
            <dl>
              <dt class="key">{{ _('API Key') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd class="value"><code>{{ c.userobj.apikey }}</code></dd>
            </dl>
          {% endif %}
        </div>
      {% endblock %}
    </section>
  </div>
  {% endblock %}
{% endif %}




{% block  primary_content_inner %}


</br></br></br>
<!-- <a href="javascript:void(0)" id="update_user_communities" class="btn pull-right disabled"> Save your Edits </a> -->
<!-- <span class="help pull-right "> * Click Profile Name to Edit </span> -->

<!-- table role="table" class="table">
  <thead>
  <th> Name </th>
  <th> Indicators Count </th>
  <th></th>
  </thead>
  <tbody>
    {% for profile in community_profiles%}
      <tr>
        <td><a href="/community/{{profile.id}}">{{profile.name}}</a></td>
        <td>
          <input type="text" class="edit_profile_name hidden" id="{{profile.id}}" value="{{profile.name}}"></input>
          <a href="javascript:void(0)" class="edit_name"> {{profile.indicators | count}} </a>
        </td>
        <td><a href="javascript:void(0)" class="remove_profile" id="{{profile.id}}"><i class='fa fa-times text-error'></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->
<br>
<div class="span11">
{% if profiles %}

    <ul>
        {% for profile in profiles %}
          <li>
            <h2><a href="/community/{{profile.id}}" class="underlined">{{profile.name}}</a>
            {% if profile.user_id == c.userobj.id %}
            <a href="javascript:void(0)" class="remove_profile pull-right btn btn-default btn-mini" id="{{profile.id}}">
              <span class="text-error"> x </span>
            </a>
            {% endif %}
            </h2>
            <br>
            {% for indicator in profile.indicators %}
              <span class="span5">
              <a href="{{indicator.link_to_visualization()}}" class="underlined"> {{ indicator.dataset_name() }} </a>
              </span>
            {% endfor %}

          <br class="clear">
          <hr>
          </li>
        {% endfor %}
      </ul>

    <br/>
    <br/>
{% else %}
    There're no indicators for this gallery yet.
{% endif %}

</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/common/css/tableTools.css">
{% resource 'ctdata_theme/bootbox.js' %}
{% resource 'ctdata_theme/user_communities.js' %}

{% endblock %}
