{% extends "page.html" %}

{% block page_name %}{{ dataset.title }}{% endblock %}
{% block page_description %}Profile info{% endblock %}


{% block main_content %}

<form>
    <input type="hidden" id="dataset_id" value="{{ dataset.id }}">
    <input type="hidden" id="dataset_title" value="{{ dataset.title }}">
</form>

<section class="visualisation">
<div class="ctdata-wrapper">

<div class="refine_wrap">
<h2>Refine This Indicator <img src="/common/images/arrowimg.png" alt="" /></h2>
<ul>
<li>
<a href="javascript:void(0)" class="togglebtn">Location</a>
</li>
<li>
<a href="javascript:void(0)" class="togglebtn">Measure Type</a>
</li>
<li>
<a href="javascript:void(0)" class="togglebtn toggleup">Variable</a>
<div class="refine_options">
<div class="input_row"><input type="checkbox"> <label>Quartile 1</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 2</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 3</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 4</label></div>
</div>
</li>
</ul>
</div>

<div class="visual_right">
<div class="option_row">
<div class="customselectinner">
<select class="custom">
<option selected>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
</select>
</div>

<div class="display_options">
<label>Display As</label>
<ul>
<li><a href="#"><img src="/common/images/displayopt1.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/displayopt2.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/displayopt3.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/displayopt4.png" alt="" /></a></li>
</ul>
</div>

<div class="operations">
<label>Operations</label>
<ul>
<li><a href="#"><img src="/common/images/operation1.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/operation2.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/operation3.png" alt="" /></a></li>
</ul>
</div>

</div>

<div class="results_table">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

</div>

</div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}

{% resource 'ctdata_theme/highcharts.js' %}
{% resource 'ctdata_theme/visualization.js' %}
{% endblock %}