{% extends "page.html" %}

{% block page_name %}{{ dataset.title }}{% endblock %}
{% block page_description %}Profile info{% endblock %}


{% block main_content %}

<form>
    <input type="hidden" id="dataset_id" value="{{ dataset.name }}">
    <input type="hidden" id="dataset_title" value="{{ dataset.title }}">
</form>

<section class="visualisation">
<div class="ctdata-wrapper">

<div class="refine_wrap">
<h2>Refine This Indicator <img src="/common/images/arrowimg.png" alt="" /></h2>
<ul>
{% for dimension in dimensions %}
{% if dimension.possible_values %}
<li class="filter">
  <a href="#collapse{{dimension.name|replace(" ", "")|replace("/", "\/")}}" data-toggle="collapse" class="togglebtn dimension">{{dimension.name}}</a>
  <div id="collapse{{dimension.name|replace(" ","")}}" class="panel-collapse collapse">
  <ul>
  {% for value in dimension.possible_values %}
    <li>
        <input type="checkbox" id="{{value}}Check" value="{{value}}" class="{{dimension.name|replace(" ","")|replace("/","\/")}}">
        <label for="{{value}}Check">{{value}}</label>
    </li>
  {% endfor %}
  </ul>
  </div>
</li>
{% endif %}
{% endfor %}
<!--
<li>
<div class="refine_options">
<div class="input_row"><input type="checkbox"> <label>Quartile 1</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 2</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 3</label></div>
<div class="input_row"><input type="checkbox"> <label>Quartile 4</label></div>
</div>
</li>
-->
</ul>
</div>

<div class="visual_right">
<div class="option_row">
<div class="customselectinner">
<select class="custom">
<option selected>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
<option>Kindergarten Inventory Quartiles</option>
</select>
</div>

<div class="display_options">
<label>Display As</label>
<ul>
<li><a href="javascript:void(0)" onclick="set_display_type('table')"><img src="/common/images/displayopt1.png" alt="" /></a></li>
<li><a href="javascript:void(0)" onclick="set_display_type('bar')"><img src="/common/images/displayopt2.png" alt="" /></a></li>
<li><a href="javascript:void(0)" onclick="set_display_type('line')"><img src="/common/images/displayopt3.png" alt="" /></a></li>
<li><a href="javascript:void(0)" onclick="set_display_type('map')"><img src="/common/images/displayopt4.png" alt="" /></a></li>
</ul>
</div>

<div class="operations">
<label>Operations</label>
<ul>
<li><a href="#"><img src="/common/images/operation1.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/operation2.png" alt="" /></a></li>
<li><a href="#"><img src="/common/images/operation3.png" alt="" /></a></li>
</ul>
</div>

</div>

<div class="results_table">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

</div>

</div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/common/css/visualization.css">
<link rel="stylesheet" type="text/css" href="/common/css/jquery.dataTables.css">
{% resource 'ctdata_theme/highcharts.js' %}
{% resource 'ctdata_theme/Highmaps-1.0.4/js/modules/map.js' %}
{% resource 'ctdata_theme/Highmaps-1.0.4/js/modules/data.js' %}
{% resource 'ctdata_theme/Highmaps-1.0.4/js/modules/exporting.js' %}
{% resource 'ctdata_theme/visualization.js' %}
{% resource 'ctdata_theme/jquery.dataTables.js' %}
{% resource 'ctdata_theme/map_chart.js' %}

<script>
  var incompat = {};
  {% for dimension in dimensions %}
    {% if dimension.possible_values %}
      incompat['{{dimension.name}}'] = {{dimension.incompat}};
    {% endif %}
  {% endfor %}
</script>
{% endblock %}
