<div id="select_uniq_values_popup" class="modal fade" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            Please choose only one value per dimention.
        </div>
        <div class="modal-content">
            <div class="modal-body disable-scroll">
                <div id="common_dimensions">
                    <h2> Common dimensions</h2>
                    <ul class="common_dimensions">
                    </ul>
                </div>
                <div id="main_dataset_dimensions">
                    <ul class="left_dimensions" id="main">
                    </ul>
                </div>

                <div id="compare_dataset_dimensions">
                    <ul class="left_dimensions" id="compare">
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <div style="float: right">
                    <button id="create_profile" class="btn btn-info">Save</button>
                    <button class="btn close_popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>