<div class="span11">
<table class="table table-bordered">
  <thead>
    <th> Dataset Name </th>
    <th> Geo Type </th>
    <th> Geo Type Matches? </th>
    <th> Number of matches </th>
    <th> Matches </th>
  </thead>
  <tbody>
    {% for item in comparable %}
    <tr>
      <td>{{item['dataset_name']}}</td>
      <td>{{item['geo_type']}}</td>
      <td>{{item['geo_type_match']}}</td>
      <td>{{item['filters_matches_number']}}</td>
      <td>
        {% for match in item['filters_values_matches']%}
          <p> <b>{{match.keys()[0]}}</b>:
            {% for item in match.values()[0] %}
              {{item}} {% if not loop.last %} , {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="span2">
  <h3> Years ({{years|length}})</h3>
  {% for year in years %}
    <p> {{year}} </p>
  {% endfor %}
</div>